src/main/resources/xsdFiles/asn1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--this .xsd file is use to define each type of element in all request/response in viapass
it contain the simpleType and the simplest ComplexType
this .xsd is base on document Back-office-communication 2.6 28-02-2018,
this document must resume the european standard iso-12855-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="asn1Namespace" targetNamespace="asn1Namespace">

    <xsd:simpleType name="BitString">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-1]{0,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NumberOfADUStruct">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-1]{0,}"/>
            <xsd:length value="10"/>
            <!--            <xsd:minLength value="10"/>-->
            <!--            <xsd:maxLength value="10"/>-->
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RegimeID">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>
    <xsd:simpleType name="MessageIdentifier">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProviderIdentifier">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="NULL" final="#all"/>
    <xsd:simpleType name="OctetString">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9a-fA-F]{0,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ManufacturerId">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="65535"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LPNLimited">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GeneralizedTime">
        <xsd:restriction base="xsd:string">
            <!-- <xsd:pattern  value="\d{14}[,\.]?\d*[+-]\d{4}" /> -->
            <xsd:pattern value="\d{14}[,\.]?\d*Z"/>
            <!-- <xsd:pattern  value="\d{14}[,\.]?\d*" /> -->
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContractSerialNumber">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="4294967295"/>
            <xsd:pattern value="[0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IssuerIdentifier">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <!--<xsd:minInclusive value="0"/>-->
            <xsd:maxInclusive value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EquipmentOBUId">
        <xsd:restriction base="xsd:hexBinary">
            <!--            <xsd:minLength value="4"/>-->
            <!--            <xsd:maxLength value="4"/>-->
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PersonalAccountNumber">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TrailerAxles">
        <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TractorAxles">
        <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ResultFin">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AttributeIdList">
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:list itemType="x:UnsignedInt0_127"/>
            </xsd:simpleType>
            <xsd:minLength value="0"/>
            <xsd:maxLength value="127"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UnsignedInt0_127">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="127"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--    <xsd:simpleType name="ActionType">-->
    <!--        <xsd:restriction base="xsd:unsignedInt">-->
    <!--            <xsd:minInclusive value="0"/>-->
    <!--            <xsd:maxInclusive value="127"/>-->
    <!--        </xsd:restriction>-->
    <!--    </xsd:simpleType>-->
    <xsd:simpleType name="HexBinaryLength2">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="HexBinaryLength4">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dist">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="16777215"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Positive">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="8388607"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Negative">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="-8388608"/>
            <xsd:maxInclusive value="-1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AccountStatus">
        <xsd:union memberTypes="xsd:token">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="low"/>
                    <xsd:enumeration value="empty"/>
                    <xsd:enumeration value="negative"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="TrustObjectStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="valid"/>
                    <xsd:enumeration value="expired"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <!--*************************************ENUMERATIONS**********************************-->

    <xsd:simpleType name="EngineCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="noEngine"/>
                    <xsd:enumeration value="petrolUnleaded"/>
                    <xsd:enumeration value="petrolLeaded"/>
                    <xsd:enumeration value="diesel"/>
                    <xsd:enumeration value="lPG"/>
                    <xsd:enumeration value="battery"/>
                    <xsd:enumeration value="solar"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UnitType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="mg-km"/>
            <xsd:enumeration value="mg-kWh"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ResultOp">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="correctTransaction"/>
                    <xsd:enumeration value="obeStatusNotAccepted"/>
                    <xsd:enumeration value="equipmentStatusNotAccepted"/>
                    <xsd:enumeration value="contractNotInWhiteList"/>
                    <xsd:enumeration value="contractIdentifierInBlackList"/>
                    <xsd:enumeration value="contractIdentifierNotCorrect"/>
                    <xsd:enumeration value="expiredContract"/>
                    <xsd:enumeration value="contractRestrictionsNotFulfilled"/>
                    <xsd:enumeration value="claimedVehicleCharacteristicsNotValid"/>
                    <xsd:enumeration value="vehicleClassAuthenticationFailed"/>
                    <xsd:enumeration value="entryVehicleClassDifferentFromExitVehicleClass"/>
                    <xsd:enumeration value="entryReceiptMissing"/>
                    <xsd:enumeration value="entryReceiptNotValid"/>
                    <xsd:enumeration value="entryTollStationNotValid"/>
                    <xsd:enumeration value="equipmentNotCertified"/>
                    <xsd:enumeration value="timeDifference"/>
                    <xsd:enumeration value="accessCredentialsNotAccepted"/>
                    <xsd:enumeration value="contractAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="receiptAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="claimedVehicleCharacteristicsMissing"/>
                    <xsd:enumeration value="paymentMeansNotAccepted"/>
                    <xsd:enumeration value="paymentAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="paymentMeansInBlackList"/>
                    <xsd:enumeration value="paymentMeansNotCorrect"/>
                    <xsd:enumeration value="expiredPaymentMeans"/>
                    <xsd:enumeration value="paymentMeansRestrictionsNotFulfilled"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="ChannelId">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="obu"/>
                    <xsd:enumeration value="sam1"/>
                    <xsd:enumeration value="sam2"/>
                    <xsd:enumeration value="icc"/>
                    <xsd:enumeration value="display"/>
                    <xsd:enumeration value="buzzer"/>
                    <xsd:enumeration value="printer"/>
                    <xsd:enumeration value="serialInterface"/>
                    <xsd:enumeration value="parallelInterface"/>
                    <xsd:enumeration value="gPS"/>
                    <xsd:enumeration value="tachograph"/>
                    <xsd:enumeration value="privateUse1"/>
                    <xsd:enumeration value="privateUse2"/>
                    <xsd:enumeration value="privateUse3"/>
                    <xsd:enumeration value="privateUse4"/>
                    <xsd:enumeration value="privateUse5"/>
                    <xsd:enumeration value="bluetooth"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="OBEStatus">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ok"/>
            <xsd:enumeration value="nok"/>
            <xsd:enumeration value="contactOperator"/>
            <xsd:enumeration value="nokInLocalContext"/>
            <xsd:enumeration value="noSignalling"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FutureCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="airSuspension"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="DescriptiveCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="vehicleShape1"/>
                    <xsd:enumeration value="vehicleShape2"/>
                    <xsd:enumeration value="vehicleShape3"/>
                    <xsd:enumeration value="vehicleShape4"/>
                    <xsd:enumeration value="vehicleShape5"/>
                    <xsd:enumeration value="vehicleShape6"/>
                    <xsd:enumeration value="vehicleShape7"/>
                    <xsd:enumeration value="vehicleShape8"/>
                    <xsd:enumeration value="vehicleShape9"/>
                    <xsd:enumeration value="vehicleShape10"/>
                    <xsd:enumeration value="vehicleShape11"/>
                    <xsd:enumeration value="vehicleShape12"/>
                    <xsd:enumeration value="vehicleShape13"/>
                    <xsd:enumeration value="vehicleShape14"/>
                    <xsd:enumeration value="vehicleShape15"/>
                    <xsd:enumeration value="vehicleShape16"/>
                    <xsd:enumeration value="vehicleShape17"/>
                    <xsd:enumeration value="vehicleShape18"/>
                    <xsd:enumeration value="vehicleShape19"/>
                    <xsd:enumeration value="vehicleShape20"/>
                    <xsd:enumeration value="vehicleShape21"/>
                    <xsd:enumeration value="vehicleShape22"/>
                    <xsd:enumeration value="vehicleShape23"/>
                    <xsd:enumeration value="vehicleShape24"/>
                    <xsd:enumeration value="vehicleShape25"/>
                    <xsd:enumeration value="vehicleShape26"/>
                    <xsd:enumeration value="vehicleShape27"/>
                    <xsd:enumeration value="vehicleShape28"/>
                    <xsd:enumeration value="vehicleShape29"/>
                    <xsd:enumeration value="vehicleShape30"/>
                    <xsd:enumeration value="vehicleShape31"/>
                    <xsd:enumeration value="vehicleShape32"/>
                    <xsd:enumeration value="vehicleShape33"/>
                    <xsd:enumeration value="vehicleShape34"/>
                    <xsd:enumeration value="vehicleShape35"/>
                    <xsd:enumeration value="vehicleShape36"/>
                    <xsd:enumeration value="vehicleShape37"/>
                    <xsd:enumeration value="vehicleShape38"/>
                    <xsd:enumeration value="vehicleShape39"/>
                    <xsd:enumeration value="vehicleShape40"/>
                    <xsd:enumeration value="vehicleShape41"/>
                    <xsd:enumeration value="vehicleShape42"/>
                    <xsd:enumeration value="vehicleShape43"/>
                    <xsd:enumeration value="vehicleShape44"/>
                    <xsd:enumeration value="vehicleShape45"/>
                    <xsd:enumeration value="vehicleShape46"/>
                    <xsd:enumeration value="vehicleShape47"/>
                    <xsd:enumeration value="vehicleShape48"/>
                    <xsd:enumeration value="vehicleShape49"/>
                    <xsd:enumeration value="vehicleShape50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UserStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noContractualRelation"/>
                    <xsd:enumeration value="standardPrivateUserContract"/>
                    <xsd:enumeration value="standardCommercialUserContract"/>
                    <xsd:enumeration value="tempExceptionListed"/>
                    <xsd:enumeration value="permanentExceptionListed"/>
                    <xsd:enumeration value="contractClosed"/>
                    <xsd:enumeration value="noStatus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UserDetailsRequestReason">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UserParameterStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="userParameterAvailable"/>
                    <xsd:enumeration value="notAvailable"/>
                    <xsd:enumeration value="localPrivacyRules"/>
                    <xsd:enumeration value="missingContractualAgreement"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UserParameterRequest">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="userPostalAddress"/>
                    <xsd:enumeration value="contractSerialNumber"/>
                    <xsd:enumeration value="contractValidity"/>
                    <xsd:enumeration value="driverCharacteristics"/>
                    <xsd:enumeration value="eFC-ContextMark"/>
                    <xsd:enumeration value="environmentalCharacteristics"/>
                    <xsd:enumeration value="engineCharacteristics"/>
                    <xsd:enumeration value="equipmentOBUId"/>
                    <xsd:enumeration value="equipmentStatus"/>
                    <xsd:enumeration value="paymentMeans"/>
                    <xsd:enumeration value="paymentMeansBalance"/>
                    <xsd:enumeration value="paymentMeansUnit"/>
                    <xsd:enumeration value="personalAccountNumber"/>
                    <xsd:enumeration value="provider"/>
                    <xsd:enumeration value="receiptContract"/>
                    <xsd:enumeration value="validityOfContract"/>
                    <xsd:enumeration value="vehicleAuthenticator"/>
                    <xsd:enumeration value="vehicleClass"/>
                    <xsd:enumeration value="vehicleDimensions"/>
                    <xsd:enumeration value="vehicleLicencePlateNumber"/>
                    <xsd:enumeration value="vehicleIdentificationNumber"/>
                    <xsd:enumeration value="vehicleWeightLaden"/>
                    <xsd:enumeration value="vehicleWeightLimits"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="ExceptionListType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="blacklist"/>
                    <xsd:enumeration value="whitelist"/>
                    <xsd:enumeration value="greylist"/>
                    <xsd:enumeration value="blackListIncrementalUpdate"/>
                    <xsd:enumeration value="whiteListIncrementalUpdate"/>
                    <xsd:enumeration value="greyListIncrementalUpdate"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="1|2|4|5"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="Setmmirq">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="nok"/>
                    <xsd:enumeration value="contactOperator"/>
                    <xsd:enumeration value="noSignalling"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UnsignedShort0_32767">
        <xsd:restriction base="xsd:unsignedShort">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="32767"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeOfSession">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="unspecified"/>
            <xsd:enumeration value="closedEntryWithPayment"/>
            <xsd:enumeration value="closedEntryWithoutPayment"/>
            <xsd:enumeration value="closedTransit"/>
            <xsd:enumeration value="closedExit"/>
            <xsd:enumeration value="closedCredit"/>
            <xsd:enumeration value="mixed"/>
            <xsd:enumeration value="passage"/>
            <xsd:enumeration value="checkpoint"/>
            <xsd:enumeration value="reload"/>
            <xsd:enumeration value="reservedForFutureCENUse1"/>
            <xsd:enumeration value="reservedForFutureCENUse2"/>
            <xsd:enumeration value="reservedForFutureCENUse3"/>
            <xsd:enumeration value="reservedForFutureCENUse4"/>
            <xsd:enumeration value="privateUse5"/>
            <xsd:enumeration value="privateUse6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ListOfTrustObjectTypes">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="certificate"/>
                    <xsd:enumeration value="symmetricKey"/>
                    <xsd:enumeration value="cRL"/>
                    <xsd:enumeration value="cDP"/>
                    <xsd:enumeration value="oCSP"/>
                    <xsd:enumeration value="encryptedSymmetricKey"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="ListOfTrustObjectPurposes">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="trustObjects"/>
                    <xsd:enumeration value="dSRCCharging"/>
                    <xsd:enumeration value="dSRCAC"/>
                    <xsd:enumeration value="oBEInterrogation"/>
                    <xsd:enumeration value="oBEInterrogationAC"/>
                    <xsd:enumeration value="sIGExceptionList"/>
                    <xsd:enumeration value="sIGContextData"/>
                    <xsd:enumeration value="sIGBillingDetails"/>
                    <xsd:enumeration value="sIGFiscalObjects"/>
                    <xsd:enumeration value="sIGCommunication"/>
                    <xsd:enumeration value="eNCCommunication"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="ExemptedVehicleClasses">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="handicappedPeople"/>
                    <xsd:enumeration value="military"/>
                    <xsd:enumeration value="police"/>
                    <xsd:enumeration value="roadMaintenance"/>
                    <xsd:enumeration value="circusTruck"/>
                    <xsd:enumeration value="mobileShopTruck"/>
                    <xsd:enumeration value="truckCarryingMilk"/>
                    <xsd:enumeration value="truckCarryingTimber"/>
                    <xsd:enumeration value="publicTransportBus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="TimeInterval">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="day"/>
                    <xsd:enumeration value="week"/>
                    <xsd:enumeration value="month"/>
                    <xsd:enumeration value="year"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="TollSchemeType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="roadSectionPricing"/>
            <xsd:enumeration value="areaPricingDistance"/>
            <xsd:enumeration value="areaPricingTime"/>
            <xsd:enumeration value="cordonPricing"/>
        </xsd:restriction>
    </xsd:simpleType>


    <!--*************************************CHOICE**********************************-->
    <xsd:complexType name="AlphabetIndicator">
        <xsd:choice>
            <xsd:element name="latinAlphabetNo1" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo2" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo3" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo4" type="xsd:string"/>
            <xsd:element name="latinCyrillicAlphabet" type="xsd:string"/>
            <xsd:element name="latinArabicAlphabet" type="xsd:string"/>
            <xsd:element name="latinGreekAlphabet" type="xsd:string"/>
            <xsd:element name="latinHebrewAlphabet" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo5" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo6" type="xsd:string"/>
            <xsd:element name="twoOctetBMP" type="xsd:string"/>
            <xsd:element name="fourOctetCanonical" type="xsd:string"/>
            <xsd:element name="reservedForUse1" type="xsd:string"/>
            <xsd:element name="reservedForUse2" type="xsd:string"/>
            <xsd:element name="reservedForUse3" type="xsd:string"/>
            <xsd:element name="reservedForUse4" type="xsd:string"/>
            <xsd:element name="reservedForUse5" type="xsd:string"/>
            <xsd:element name="reservedForUse6" type="xsd:string"/>
            <xsd:element name="reservedForUse7" type="xsd:string"/>
            <xsd:element name="reservedForUse8" type="xsd:string"/>
            <xsd:element name="reservedForUse9" type="xsd:string"/>
            <xsd:element name="reservedForUse10" type="xsd:string"/>
            <xsd:element name="reservedForUse11" type="xsd:string"/>
            <xsd:element name="reservedForUse12" type="xsd:string"/>
            <xsd:element name="reservedForUse13" type="xsd:string"/>
            <xsd:element name="reservedForUse14" type="xsd:string"/>
            <xsd:element name="reservedForUse15" type="xsd:string"/>
            <xsd:element name="reservedForUse16" type="xsd:string"/>
            <xsd:element name="reservedForUse17" type="xsd:string"/>
            <xsd:element name="reservedForUse18" type="xsd:string"/>
            <xsd:element name="reservedForUse19" type="xsd:string"/>
            <xsd:element name="reservedForUse20" type="xsd:string"/>
            <xsd:element name="reservedForUse21" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="CopValue">
        <xsd:choice>
            <xsd:element name="noEntry" type="xsd:string"/>
            <xsd:element name="co2class1" type="xsd:string"/>
            <xsd:element name="co2class2" type="xsd:string"/>
            <xsd:element name="co2class3" type="xsd:string"/>
            <xsd:element name="co2class4" type="xsd:string"/>
            <xsd:element name="co2class5" type="xsd:string"/>
            <xsd:element name="co2class6" type="xsd:string"/>
            <xsd:element name="co2class7" type="xsd:string"/>
            <xsd:element name="reservedforUse" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="EuroValue">
        <xsd:choice>
            <xsd:element name="noEntry" type="xsd:string"/>
            <xsd:element name="euro-1" type="xsd:string"/>
            <xsd:element name="euro-2" type="xsd:string"/>
            <xsd:element name="euro-3" type="xsd:string"/>
            <xsd:element name="euro-4" type="xsd:string"/>
            <xsd:element name="euro-5" type="xsd:string"/>
            <xsd:element name="euro-6" type="xsd:string"/>
            <xsd:element name="reservedForUse1" type="xsd:string"/>
            <xsd:element name="reservedForUse2" type="xsd:string"/>
            <xsd:element name="reservedForUse3" type="xsd:string"/>
            <xsd:element name="reservedForUse4" type="xsd:string"/>
            <xsd:element name="reservedForUse5" type="xsd:string"/>
            <xsd:element name="reservedForUse6" type="xsd:string"/>
            <xsd:element name="reservedForUse7" type="xsd:string"/>
            <xsd:element name="reservedForUse8" type="xsd:string"/>
            <xsd:element name="reservedForUse9" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="AduTypeString">
        <xsd:choice>
            <xsd:element name="requestADU" type="xsd:string"/>
            <xsd:element name="ackADU" type="xsd:string"/>
            <xsd:element name="trustObjectADU" type="xsd:string"/>
            <xsd:element name="efcContextDataADU" type="xsd:string"/>
            <xsd:element name="exceptionListADU" type="xsd:string"/>
            <xsd:element name="reportAbnormalOBEADU" type="xsd:string"/>
            <xsd:element name="tollDeclarationADU" type="xsd:string"/>
            <xsd:element name="billingDetailsADU" type="xsd:string"/>
            <xsd:element name="paymentClaimADU" type="xsd:string"/>
            <xsd:element name="reportQAADU" type="xsd:string"/>
            <xsd:element name="statusADU" type="xsd:string"/>
            <xsd:element name="retrieveUserDetailsADU" type="xsd:string"/>
            <xsd:element name="provideUserDetailsADU" type="xsd:string"/>
            <xsd:element name="reportCCCEventADU" type="xsd:string"/>
            <xsd:element name="retrieveTollDeclarationADU" type="xsd:string"/>
            <xsd:element name="retrieveCCCEvents" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ADUType">
        <xsd:choice>
            <xsd:element name="requestADU"/>
            <xsd:element name="ackADU"/>
            <xsd:element name="trustObjectADU"/>
            <xsd:element name="efcContextDataADU"/>
            <xsd:element name="exceptionListADU"/>
            <xsd:element name="reportAbnormalOBEADU"/>
            <xsd:element name="tollDeclarationADU"/>
            <xsd:element name="billingDetailsADU"/>
            <xsd:element name="paymentClaimADU"/>
            <xsd:element name="reportQAADU"/>
            <xsd:element name="statusADU"/>
            <xsd:element name="retrieveUserDetailsADU"/>
            <xsd:element name="provideUserDetailsADU"/>
            <xsd:element name="reportCCCEventADU"/>
            <xsd:element name="retrieveTollDeclarationADU"/>
            <xsd:element name="retrieveCCCEventADU"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ReasonMessageACKADU">
        <xsd:choice>
            <xsd:element name="obsoleteADU" type="xsd:string"/>
            <xsd:element name="aDUOK" type="xsd:string"/>
            <xsd:element name="aDUNotOK" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="DisUnit">
        <xsd:choice>
            <xsd:element name="kilometres" type="xsd:string"/>
            <xsd:element name="miles" type="xsd:string"/>
            <xsd:element name="metres" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ExceptionListReasonType">
        <xsd:choice>
            <xsd:element name="notToBeDisclosed" type="xsd:string"/>
            <xsd:element name="obeDeactivated" type="xsd:string"/>
            <xsd:element name="obeIsStolen" type="xsd:string"/>
            <xsd:element name="temporaryTechnicalProblem" type="xsd:string"/>
            <xsd:element name="suspicionOnTechnicalManipulation" type="xsd:string"/>
            <xsd:element name="latePayment" type="xsd:string"/>
            <xsd:element name="noPayment" type="xsd:string"/>
            <xsd:element name="contractHolderInsolvent" type="xsd:string"/>
            <xsd:element name="normalUser" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="ExceptionListBlockType">
        <xsd:choice>
            <xsd:element name="allApplications" type="xsd:string"/>
            <xsd:element name="locallyBlocked" type="xsd:string"/>
            <xsd:element name="blockedForSchemesRequiringOdometer" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <!--*************************************COMPLEX TYPE**********************************-->

    <xsd:complexType name="DateCompact">
        <xsd:sequence>
            <xsd:element name="year">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1990"/>
                        <xsd:maxInclusive value="2117"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="month">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="day">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="31"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeCompact">
        <xsd:sequence>
            <xsd:element name="hours">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="23"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mins">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="double-secs">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DateAndTime">
        <xsd:sequence>
            <xsd:element name="timeDate" type="x:DateCompact"/>
            <xsd:element name="timeCompact" type="x:TimeCompact"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DriverCharacteristics">
        <xsd:sequence>
            <xsd:element name="driverClass" type="xsd:unsignedByte"/>
            <xsd:element name="tripPurpose" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleDimensions">
        <xsd:sequence>
            <xsd:element name="vehicleLengthOverall" type="xsd:unsignedByte"/>
            <xsd:element name="vehicleHeigthOverall" type="xsd:unsignedByte"/>
            <xsd:element name="vehicleWidthOverall" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleWeightLimits">
        <xsd:sequence>
            <xsd:element name="vehicleMaxLadenWeight" type="xsd:unsignedShort"/>
            <xsd:element name="vehicleTrainMaximumWeight" type="xsd:unsignedShort"/>
            <xsd:element name="vehicleWeightUnladen" type="xsd:unsignedShort"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Position">
        <xsd:sequence>
            <xsd:element name="longitude">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="latitude">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommunicationStatus">
        <xsd:sequence>
            <xsd:element name="timeOfLastTransmission" type="xsd:unsignedInt"/>
            <xsd:element name="pendingSince" type="xsd:unsignedInt"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CurrentHDOP">
        <xsd:sequence>
            <xsd:element name="hDOP" type="xsd:unsignedByte"/>
            <xsd:element name="numberOfUsedSatellites" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SoundLevel">
        <xsd:sequence>
            <xsd:element name="soundstationary" type="xsd:unsignedByte"/>
            <xsd:element name="sounddriveby" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Engine">
        <xsd:sequence>
            <xsd:element name="engineCapacity" type="xsd:unsignedShort"/>
            <xsd:element name="enginePower" type="xsd:unsignedShort"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PassengerCapacity">
        <xsd:sequence>
            <xsd:element name="numberOfSeats" type="xsd:unsignedByte"/>
            <xsd:element name="numberOfStandingPlaces" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AxleWeightLimits">
        <xsd:sequence>
            <xsd:element name="maxLadenweightOnAxle1" type="xsd:unsignedShort"/>
            <xsd:element name="maxLadenweightOnAxle2" type="xsd:unsignedShort"/>
            <xsd:element name="maxLadenweightOnAxle3" type="xsd:unsignedShort"/>
            <xsd:element name="maxLadenweightOnAxle4" type="xsd:unsignedShort"/>
            <xsd:element name="maxLadenweightOnAxle5" type="xsd:unsignedShort"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SessionLocation">
        <xsd:sequence>
            <xsd:element name="ascendingKilometrage" type="xsd:boolean"/>
            <xsd:element name="laneCodeNumber">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SessionClass">
        <xsd:sequence>
            <xsd:element name="sessionTariffClass" type="xsd:unsignedByte"/>
            <xsd:element name="sessionClaimedClass" type="xsd:unsignedByte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Record">
        <xsd:choice>
            <xsd:element name="simple" type="xsd:string"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="TariffClass">
        <xsd:sequence>
            <xsd:element name="locationClassId" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="timeClassId" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="userClassId" minOccurs="0" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SignedValue">
        <xsd:choice>
            <xsd:element name="positive" type="x:Positive"/>
            <xsd:element name="negative" type="x:Negative"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="PaymentFee">
        <xsd:sequence>
            <xsd:element name="paymentFeeAmount" type="xsd:unsignedShort"/>
            <xsd:element name="paymentFeeUnit" type="x:HexBinaryLength2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OBEStatusHistory">
        <xsd:sequence>
            <xsd:element name="statusIndicator">
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="noGo"/>
                                <xsd:enumeration value="go"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:unsignedByte"/>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeWhenChanged" type="xsd:unsignedInt"/>
            <xsd:element name="timeWhenActived" type="xsd:unsignedInt"/>
            <xsd:element name="timeWhenObePowered" type="xsd:unsignedInt"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurseBalance">
        <xsd:sequence>
            <xsd:element name="purseValue">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="positive" type="x:Positive"/>
                        <xsd:element name="negative" type="x:Negative"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="purseUnit" type="x:HexBinaryLength2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AbnormalOBEReasonCode">
        <xsd:sequence maxOccurs="5">
            <xsd:element name="AbnormalOBEReasonCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GDFReference">
        <xsd:sequence>
            <xsd:element name="datasetID" type="xsd:integer"/>
            <xsd:element name="layerId" type="xsd:integer"/>
            <xsd:element name="sectionId" type="xsd:integer"/>
            <xsd:element name="objectId" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NumberOfTripsDiscount">
        <xsd:sequence>
            <xsd:element name="minNumberOfTrips" type="xsd:integer"/>
            <xsd:element name="discount" type="xsd:integer"/>
            <xsd:element name="onlyForAmountAboveLimit" minOccurs="0" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SphericalBox">
        <xsd:sequence>
            <xsd:element name="southernLatitude" type="xsd:int"/>
            <xsd:element name="northernLatitude" type="xsd:int"/>
            <xsd:element name="westernLongitude" type="xsd:int"/>
            <xsd:element name="easternLongitude" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>