src/main/resources/xsdFiles/AVIAEINumberingAndDataStructures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
            targetNamespace="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
            xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="licPlateNumber" type="LicPlateNumber"/>
    <xsd:simpleType name="LicPlateNumber">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <!-- PDU definition -->
    <xsd:element name="cS1" type="CS1"/>
    <xsd:complexType name="CS1">
        <xsd:sequence>
            <xsd:element name="countryCode" type="CountryCode"/>
            <xsd:element name="issuerIdentifier" type="IssuerIdentifier"/>
            <xsd:element name="serviceNumber" type="ServiceNumber"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cS2" type="CS2"/>
    <xsd:complexType name="CS2">
        <xsd:sequence>
            <xsd:element name="issuerIdentifier" type="ManufacturerIdentifier"/>
            <xsd:element name="serviceNumber" type="ServiceNumber"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cS3" type="CS3"/>
    <xsd:complexType name="CS3">
        <xsd:sequence>
            <xsd:element name="startTime" type="StartTime"/>
            <xsd:element name="stopTime" type="StopTime"/>
            <xsd:element name="geographLimit" type="GeoGraphicalLimit"/>
            <xsd:element name="serviceAppLimit" type="ServiceApplicationLimit"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cS4" type="CS4"/>
    <xsd:complexType name="CS4">
        <xsd:sequence>
            <xsd:element name="countryCode" type="CountryCode"/>
            <xsd:element name="alphabetIndicator" type="AlphabetIndicator"/>
            <xsd:element name="licPlateNumber" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cS8" type="CS8"/>
    <xsd:complexType name="CS8">
        <xsd:sequence>
            <xsd:element name="countryCode" type="CountryCode"/>
            <xsd:element name="taxCode" type="TaxCode"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="CS5">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="asn1:BitString">
            <xsd:length value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IssuerIdentifier">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <!--<xsd:minInclusive value="0"/>-->
            <xsd:maxInclusive value="16383"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ManufacturerIdentifier">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:simpleType name="ServiceNumber">
        <xsd:restriction base="asn1:BitString">
            <xsd:length value="32"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TaxCode">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="AlphabetIndicator">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="latinAlphabetNo1"/>
            <xsd:enumeration value="latinAlphabetNo2"/>
            <xsd:enumeration value="latinAlphabetNo3"/>
            <xsd:enumeration value="latinAlphabetNo4"/>
            <xsd:enumeration value="latinCyrillicAlphabet"/>
            <xsd:enumeration value="latinArabicAlphabet"/>
            <xsd:enumeration value="latinGreekAlphabet"/>
            <xsd:enumeration value="latinHebrewAlphabet"/>
            <xsd:enumeration value="latinAlphabetNo5"/>
            <xsd:enumeration value="latinAlphabetNo6"/>
            <xsd:enumeration value="twoOctetBMP"/>
            <xsd:enumeration value="fourOctetCanonical"/>
            <xsd:enumeration value="reservedForUse1"/>
            <xsd:enumeration value="reservedForUse2"/>
            <xsd:enumeration value="reservedForUse3"/>
            <xsd:enumeration value="reservedForUse4"/>
            <xsd:enumeration value="reservedForUse5"/>
            <xsd:enumeration value="reservedForUse6"/>
            <xsd:enumeration value="reservedForUse7"/>
            <xsd:enumeration value="reservedForUse8"/>
            <xsd:enumeration value="reservedForUse9"/>
            <xsd:enumeration value="reservedForUse10"/>
            <xsd:enumeration value="reservedForUse11"/>
            <xsd:enumeration value="reservedForUse12"/>
            <xsd:enumeration value="reservedForUse13"/>
            <xsd:enumeration value="reservedForUse14"/>
            <xsd:enumeration value="reservedForUse15"/>
            <xsd:enumeration value="reservedForUse16"/>
            <xsd:enumeration value="reservedForUse17"/>
            <xsd:enumeration value="reservedForUse18"/>
            <xsd:enumeration value="reservedForUse19"/>
            <xsd:enumeration value="reservedForUse20"/>
            <xsd:enumeration value="reservedForUse21"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="StartTime">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="StopTime">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="GeoGraphicalLimit">
        <xsd:union memberTypes="asn1:BitString">
            <xsd:simpleType>
                <xsd:list>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="globalRestriction"/>
                            <xsd:enumeration value="regionalRestriction"/>
                            <xsd:enumeration value="nationalRestriction"/>
                            <xsd:enumeration value="district"/>
                            <xsd:enumeration value="issuerCoverageRestriction"/>
                            <xsd:enumeration value="reservedForCEN1"/>
                            <xsd:enumeration value="reservedForCEN2"/>
                            <xsd:enumeration value="issuerSpecificRestriction"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:list>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="ServiceApplicationLimit">
        <xsd:union memberTypes="asn1:BitString">
            <xsd:simpleType>
                <xsd:list>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="notForPostpayment"/>
                            <xsd:enumeration value="notForPrepayment"/>
                            <xsd:enumeration value="notForVehicleaccess"/>
                            <xsd:enumeration value="notForFleetcontrol"/>
                            <xsd:enumeration value="issuerSpecificRestriction1"/>
                            <xsd:enumeration value="issuerSpecificRestriction2"/>
                            <xsd:enumeration value="issuerSpecificRestriction3"/>
                            <xsd:enumeration value="issuerSpecificRestriction4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:list>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

</xsd:schema>