src/main/resources/xsdFiles/CccModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/CccModule"
            targetNamespace="http://tsystems.com/gw/ws/iso/CccModule"
            xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:DSRCData="http://tsystems.com/gw/ws/iso/DSRCData"
            xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/DSRCData"
                schemaLocation="DSRCData.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="cCC-InitialiseComm-Request" type="CCC-InitialiseComm-Request"/>
    <xsd:complexType name="CCC-InitialiseComm-Request">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:BST"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-InitialiseComm-Response" type="CCC-InitialiseComm-Response"/>
    <xsd:complexType name="CCC-InitialiseComm-Response">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:VST"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-DataRetrieval-Request" type="CCC-DataRetrieval-Request"/>
    <xsd:complexType name="CCC-DataRetrieval-Request">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Get-Request"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-DataRetrieval-Response" type="CCC-DataRetrieval-Response"/>
    <xsd:complexType name="CCC-DataRetrieval-Response">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Get-Response"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-AuthDataRetrieval-Request" type="CCC-AuthDataRetrieval-Request"/>
    <xsd:complexType name="CCC-AuthDataRetrieval-Request">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Request"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-AuthDataRetrieval-Response" type="CCC-AuthDataRetrieval-Response"/>
    <xsd:complexType name="CCC-AuthDataRetrieval-Response">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Response"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-Notification-Request" type="CCC-Notification-Request"/>
    <xsd:complexType name="CCC-Notification-Request">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Request"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-Notification-Response" type="CCC-Notification-Response"/>
    <xsd:complexType name="CCC-Notification-Response">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Response"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-TerminateComm" type="CCC-TerminateComm"/>
    <xsd:complexType name="CCC-TerminateComm">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Event-Report-Request"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-TestComm-Request" type="CCC-TestComm-Request"/>
    <xsd:complexType name="CCC-TestComm-Request">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Request"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cCC-TestComm-Response" type="CCC-TestComm-Response"/>
    <xsd:complexType name="CCC-TestComm-Response">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:Action-Response"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="vehicleLicensePlateNumber" type="VehicleLicensePlateNumber"/>
    <xsd:complexType name="VehicleLicensePlateNumber">
        <xsd:complexContent>
            <xsd:extension base="EfcModule:LPN"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="applicationContextMark" type="ApplicationContextMark"/>
    <xsd:complexType name="ApplicationContextMark">
        <xsd:sequence>
            <xsd:element name="cCC-ContextMark" type="CCC-ContextMark"/>
            <xsd:element name="aC-CR-Reference">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="rndOBE">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="container" type="Container"/>
    <xsd:complexType name="Container">
        <xsd:choice>
            <xsd:element name="integer" type="xsd:integer"/>
            <xsd:element name="bitstring" type="asn1:BitString"/>
            <xsd:element name="octetstring">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="universalString" type="asn1:UniversalString"/>
            <xsd:element name="beaconId" type="DSRCData:BeaconID"/>
            <xsd:element name="t-apdu" type="DSRCData:T-APDUs"/>
            <xsd:element name="dsrcApplicationEntityId" type="DSRCData:DSRCApplicationEntityID"/>
            <xsd:element name="dsrc-Ase-Id" type="DSRCData:Dsrc-EID"/>
            <xsd:element name="attrIdList" type="DSRCData:AttributeIdList"/>
            <xsd:element name="attrList" type="DSRCData:AttributeList"/>
            <xsd:element name="time" type="DSRCData:Time"/>
            <xsd:element name="gstrq" type="EfcModule:GetStampedRq"/>
            <xsd:element name="gstrs" type="EfcModule:GetStampedRs"/>
            <xsd:element name="efccontext" type="EfcModule:EFC-ContextMark"/>
            <xsd:element name="vehlpn" type="EfcModule:LPN"/>
            <xsd:element name="vehclass" type="EfcModule:VehicleClass"/>
            <xsd:element name="vehdims" type="EfcModule:VehicleDimensions"/>
            <xsd:element name="vehaxles" type="EfcModule:VehicleAxles"/>
            <xsd:element name="vehwtlims" type="EfcModule:VehicleWeightLimits"/>
            <xsd:element name="vehspchars" type="EfcModule:VehicleSpecificCharacteristics"/>
            <xsd:element name="equOBUId" type="EfcModule:EquipmentOBUId"/>
            <xsd:element name="paymeans" type="EfcModule:PaymentMeans"/>
            <xsd:element name="setmmirq" type="EfcModule:SetMMIRq"/>
            <xsd:element name="contCCC1" type="VehicleAxlesHistory"/>
            <xsd:element name="contCCC2" type="CommunicationStatus"/>
            <xsd:element name="contCCC3" type="GnssStatus"/>
            <xsd:element name="contCCC4" type="DistanceRecordingStatus"/>
            <xsd:element name="contCCC5" type="ActiveContext"/>
            <xsd:element name="contCCC6" type="OBEStatusHistory"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="CCC-ContextMark">
        <xsd:complexContent>
            <xsd:extension base="EfcModule:EFC-ContextMark"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="INT1">
        <xsd:restriction base="xsd:unsignedByte"/>
    </xsd:simpleType>

    <xsd:simpleType name="INT1Signed">
        <xsd:restriction base="xsd:byte"/>
    </xsd:simpleType>

    <xsd:simpleType name="INT2">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:simpleType name="INT4">
        <xsd:restriction base="xsd:unsignedInt"/>
    </xsd:simpleType>

    <xsd:simpleType name="INT4Signed">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

    <xsd:simpleType name="Latitude">
        <xsd:restriction base="INT4Signed"/>
    </xsd:simpleType>

    <xsd:simpleType name="Longitude">
        <xsd:restriction base="INT4Signed"/>
    </xsd:simpleType>

    <xsd:simpleType name="OdometerStatus">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="odometerInterfaceNotPresent"/>
            <xsd:enumeration value="presentAndSignalReceived"/>
            <xsd:enumeration value="presentAndSignalNotReceived"/>
            <xsd:enumeration value="reservedForFutureUse"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ActiveContext">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="SEQUENCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contextId" type="EfcModule:Provider"/>
                        <xsd:element name="contextVersion" type="INT1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CommunicationStatus">
        <xsd:sequence>
            <xsd:element name="timeOfLastTransmission" type="DSRCData:Time"/>
            <xsd:element name="pendingSince" type="DSRCData:Time"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DistanceRecordingStatus">
        <xsd:sequence>
            <xsd:element name="odometerStatus" type="OdometerStatus"/>
            <xsd:element name="accumulatedTravelledDistance" type="INT4"/>
            <xsd:element name="deviationFromGnss" type="INT1Signed"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CurrentHDOP">
        <xsd:sequence>
            <xsd:element name="hDOP" type="INT1"/>
            <xsd:element name="numberOfUsedSatellites" type="INT1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LastLAC">
        <xsd:sequence>
            <xsd:element name="timeOfLAC" type="DSRCData:Time"/>
            <xsd:element name="lACOperator" type="EfcModule:Provider"/>
            <xsd:element name="rSEId" type="INT2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GnssStatus">
        <xsd:sequence>
            <xsd:element name="lastGnssFixLon" type="Longitude"/>
            <xsd:element name="lastGnssFixLat" type="Latitude"/>
            <xsd:element name="lastGnssFixTime" type="DSRCData:Time"/>
            <xsd:element name="currentHDOP" type="CurrentHDOP"/>
            <xsd:element name="lastLAC" type="LastLAC"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OBEStatusHistory">
        <xsd:sequence>
            <xsd:element name="statusIndicator">
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="noGo"/>
                                <xsd:enumeration value="go"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:unsignedByte"/>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeWhenChanged" type="DSRCData:Time"/>
            <xsd:element name="timeWhenActived" type="DSRCData:Time"/>
            <xsd:element name="timeWhenObePowered" type="DSRCData:Time"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleAxlesHistory">
        <xsd:sequence>
            <xsd:element name="timeWhenChanged" type="DSRCData:Time"/>
            <xsd:element name="previousVehicleAxles" type="EfcModule:VehicleAxles"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>