src/main/resources/xsdFiles/ChargingModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/ChargingModule"
            targetNamespace="http://tsystems.com/gw/ws/iso/ChargingModule"
            xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:DSRCData="http://tsystems.com/gw/ws/iso/DSRCData"
            xmlns:CccModule="http://tsystems.com/gw/ws/iso/CccModule"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/DSRCData"
                schemaLocation="DSRCData.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/CccModule"
                schemaLocation="CccModule.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="chargeReportResponse" type="ChargeReportResponse"/>
    <xsd:complexType name="ChargeReportResponse">
        <xsd:sequence>
            <xsd:element name="reportRecipientId" minOccurs="0" type="EfcModule:Provider"/>
            <xsd:element name="dataReceived" minOccurs="0" type="DataReceived"/>
            <xsd:element name="versionsResponse" minOccurs="0" type="VersionID"/>
            <xsd:element name="obeStatusForDriver" minOccurs="0" type="OBEStatus"/>
            <xsd:element name="accountUpdate" minOccurs="0" type="AccountUpdate"/>
            <xsd:element name="responseAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="AccountStatus">
        <xsd:union memberTypes="xsd:token">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="low"/>
                    <xsd:enumeration value="empty"/>
                    <xsd:enumeration value="negative"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="VersionID">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="OBEStatus">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ok"/>
            <xsd:enumeration value="nok"/>
            <xsd:enumeration value="contactOperator"/>
            <xsd:enumeration value="nokInLocalContext"/>
            <xsd:enumeration value="noSignalling"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MessageAuthenticator">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:complexType name="ListOfDSRCUsageData">
        <xsd:complexContent>
            <xsd:extension base="DSRCData:AttributeList"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!--<xsd:simpleType name="DisUnit">-->
        <!--<xsd:union memberTypes="xsd:token">-->
            <!--<xsd:simpleType>-->
                <!--<xsd:restriction base="xsd:token">-->
                    <!--<xsd:enumeration value="kilometres"/>-->
                    <!--<xsd:enumeration value="miles"/>-->
                    <!--<xsd:enumeration value="metres"/>-->
                <!--</xsd:restriction>-->
            <!--</xsd:simpleType>-->
        <!--</xsd:union>-->
    <!--</xsd:simpleType>-->

    <xsd:complexType name="DisUnit">
        <xsd:choice>
            <xsd:element name="kilometres" type="xsd:string"/>
            <xsd:element name="miles" type="xsd:string"/>
            <xsd:element name="metres" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:simpleType name="DetectionMode">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="measured"/>
            <xsd:enumeration value="inferred"/>
            <xsd:enumeration value="lac"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DurUnit">
        <xsd:union memberTypes="xsd:token">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="seconds"/>
                    <xsd:enumeration value="minutes"/>
                    <xsd:enumeration value="hours"/>
                    <xsd:enumeration value="days"/>
                    <xsd:enumeration value="months"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="ObeId">
        <xsd:sequence>
            <xsd:element nillable="true" name="manufacturerId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"></xsd:minInclusive>
                        <xsd:maxInclusive value="65535"></xsd:maxInclusive>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="equipmentOBUId" type="EfcModule:EquipmentOBUId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TollCharger">
        <xsd:sequence>
            <xsd:element name="efcOperator" type="EfcModule:Provider"/>
            <xsd:element name="recipient" type="EfcModule:Provider"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Period">
        <xsd:sequence>
            <xsd:element name="beginOfPeriod" type="EfcModule:DateAndTime"/>
            <xsd:element name="endOfPeriod" type="EfcModule:DateAndTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedFee">
        <xsd:sequence>
            <xsd:element name="timePeriodCovered" type="Period"/>
            <xsd:element name="feeExclVat" type="EfcModule:PaymentFee"/>
            <xsd:element name="vat" minOccurs="0" type="EfcModule:PaymentFee"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleDescription">
        <xsd:sequence>
            <xsd:element name="vehicleLPNr" minOccurs="0" type="EfcModule:VehicleLicencePlateNumber"/>
            <xsd:element name="axles" minOccurs="0" type="EfcModule:VehicleAxles"/>
            <xsd:element name="class" minOccurs="0" type="EfcModule:VehicleClass"/>
            <xsd:element name="dimensions" minOccurs="0" type="EfcModule:VehicleDimensions"/>
            <xsd:element name="specificCharacteristics" minOccurs="1" type="EfcModule:VehicleSpecificCharacteristics"/>
            <xsd:element name="ladenWeight" minOccurs="0" type="EfcModule:VehicleWeightLaden"/>
            <xsd:element name="weightLimits" minOccurs="0" type="EfcModule:VehicleWeightLimits"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TariffClass">
        <xsd:sequence>
            <xsd:element name="locationClassId" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="timeClassId" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="userClassId" minOccurs="0" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Distance">
        <xsd:sequence>
            <xsd:element name="dist">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="16777215"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--<xsd:element name="disUnit" default="kilometres" minOccurs="0" type="DisUnit"/>-->
            <xsd:element name="disUnit" type="DisUnit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedSingleTariffClassSession">
        <xsd:sequence>
            <xsd:element name="timePeriodCovered" minOccurs="0" type="Period"/>
            <xsd:element name="vehicleDescription" minOccurs="0" type="VehicleDescription"/>
            <xsd:element name="tariffClass" minOccurs="0" type="TariffClass"/>
            <xsd:element name="totalDistanceCovered" minOccurs="0" type="Distance"/>
            <xsd:element name="numberOfDetectedEvents" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="obeStatus" minOccurs="0" type="OBEStatus"/>
            <xsd:element name="feeExclVat" minOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="vat" minOccurs="0" type="EfcModule:PaymentFee"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeObjectId">
        <xsd:sequence>
            <xsd:element name="regimeId" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="chargeObjectDesignation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DetectedChargeObject">
        <xsd:sequence>
            <xsd:element name="chargeObjectId" type="ChargeObjectId"/>
            <xsd:element name="subObjectNumber" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeWhenUsed" minOccurs="0" maxOccurs="1" type="EfcModule:DateAndTime"/>
            <xsd:element name="mileageWhenUsed" minOccurs="0" maxOccurs="0" type="Distance"/>
            <xsd:element name="vehicleDescription" minOccurs="0" maxOccurs="0" type="VehicleDescription"/>
            <xsd:element name="tariffClass" minOccurs="0" maxOccurs="0" type="TariffClass"/>
            <xsd:element name="obeStatus" minOccurs="0" maxOccurs="0" type="OBEStatus"/>
            <xsd:element name="feeExclVat" minOccurs="0" maxOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="vat" minOccurs="0" maxOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="chargeObjDetectionMode" minOccurs="0" maxOccurs="0" type="DetectionMode"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Position">
        <xsd:sequence>
            <xsd:element name="longitude">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="latitude">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MeasuredRawData">
        <xsd:sequence>
            <xsd:element name="measuredPosition" type="Position"/>
            <xsd:element name="timeWhenMeasured" type="EfcModule:DateAndTime"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfRawUsageData">
        <xsd:sequence>
            <xsd:element name="rawDataList">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="MeasuredRawData" type="MeasuredRawData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleDescription" minOccurs="0" type="VehicleDescription"/>
            <xsd:element name="tariffClass" minOccurs="0" type="TariffClass"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfChargeObjects">
        <xsd:sequence minOccurs="1" maxOccurs="100">
            <xsd:element name="DetectedChargeObject" type="DetectedChargeObject"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UsageStatement">
        <xsd:sequence>
            <xsd:element name="usageStatementID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="regimeID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="aggregatedFee" minOccurs="0" type="AggregatedFee"/>
            <xsd:element name="vat" minOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="aggregatedSingleTariffClassSession" minOccurs="0"
                         type="AggregatedSingleTariffClassSession"/>
            <xsd:element name="listOfChargeObjects" minOccurs="0" type="ListOfChargeObjects">
                <!--<xsd:complexType>-->
                <!--<xsd:sequence minOccurs="1" maxOccurs="100">-->
                <!--<xsd:element name="DetectedChargeObject" type="DetectedChargeObject"/>-->
                <!--</xsd:sequence>-->
                <!--</xsd:complexType>-->
            </xsd:element>
            <xsd:element name="listOfDSRCUsageData" minOccurs="0" type="ListOfDSRCUsageData"/>
            <xsd:element name="listOfRawUsageData" minOccurs="0" type="ListOfRawUsageData"/>
            <xsd:element name="noUsage" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="additionalUsageInformation" minOccurs="0" type="xsd:hexBinary"/>
            <xsd:element name="usageAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CCCAttributes">
        <xsd:sequence>
            <xsd:element name="timeOfCCCRecord" minOccurs="0" type="EfcModule:DateAndTime"/>
            <xsd:element name="axlesHistory" minOccurs="0" type="CccModule:VehicleAxlesHistory"/>
            <xsd:element name="commStatus" minOccurs="0" type="CccModule:CommunicationStatus"/>
            <xsd:element name="gnssStatus" minOccurs="0" type="CccModule:GnssStatus"/>
            <xsd:element name="distRecStatus" minOccurs="0" type="CccModule:DistanceRecordingStatus"/>
            <xsd:element name="activeContext" minOccurs="0" type="CccModule:ActiveContext"/>
            <xsd:element name="obeHistory" minOccurs="0" type="CccModule:OBEStatusHistory"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UsageStatementList">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="UsageStatement" type="UsageStatement"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfCCCAttributes">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CCCAttributes" type="CCCAttributes"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeReport">
        <xsd:sequence>
            <xsd:element name="obeId" minOccurs="0" type="ObeId"/>
            <xsd:element name="vehicleLPNr" minOccurs="0" type="EfcModule:VehicleLicencePlateNumber"/>
            <xsd:element name="paymentMeans" minOccurs="0" type="EfcModule:PaymentMeans"/>
            <xsd:element name="serviceProviderContract" type="EfcModule:EFC-ContextMark"/>
            <xsd:element name="tollCharger" minOccurs="0" type="TollCharger"/>
            <xsd:element name="timeOfReport" minOccurs="0" type="EfcModule:DateAndTime"/>
            <xsd:element name="reportPeriod" type="Period"/>
            <xsd:element name="versionInfo" minOccurs="0" type="VersionID"/>
            <xsd:element name="usageStatementList" type="UsageStatementList">
                <!--<xsd:complexType>-->
                <!--<xsd:sequence minOccurs="0" maxOccurs="unbounded">-->
                <!--<xsd:element name="UsageStatement" type="UsageStatement"/>-->
                <!--</xsd:sequence>-->
                <!--</xsd:complexType>-->
            </xsd:element>
            <xsd:element name="vatForThisSession" minOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="accountStatus" minOccurs="0" type="AccountStatus"/>
            <xsd:element name="transactionCounter" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mileage" minOccurs="0" type="Distance"/>
            <xsd:element name="listOfCCCAttributes" minOccurs="0" type="ListOfCCCAttributes"/>
            <!--<xsd:complexType name="ListOfCCCAttributes">-->
            <!--<xsd:sequence minOccurs="0" maxOccurs="unbounded">-->
            <!--<xsd:element name="CCCAttributes" type="CCCAttributes"/>-->
            <!--</xsd:sequence>-->
            <!--</xsd:complexType>-->
            <xsd:element name="authenticator" minOccurs="0" type="MessageAuthenticator"/>
            <!--<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>-->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataReceived">
        <xsd:choice>
            <xsd:element name="timeOfReport" type="EfcModule:DateAndTime"/>
            <xsd:element name="mileage" type="Distance"/>
            <xsd:element name="transactionCounter" type="xsd:integer"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="ReloadAccount">
        <xsd:sequence>
            <xsd:element name="reloadOldCreditAmount" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="reloadOldDistanceLimit" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="reloadOldTimeLimit" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="reloadOldDurationLimit" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="reloadOldEventLimit" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="reloadAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Duration">
        <xsd:sequence>
            <xsd:element name="dur" type="xsd:double"/>
            <xsd:element name="durUnit" default="seconds" minOccurs="0" type="DurUnit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NewAccountLimit">
        <xsd:sequence>
            <xsd:element name="newCreditLimit" minOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="newDistanceLimit" minOccurs="0" type="Distance"/>
            <xsd:element name="newTimeLimit" minOccurs="0" type="EfcModule:DateAndTime"/>
            <xsd:element name="newDurationLimit" minOccurs="0" type="Duration"/>
            <xsd:element name="newEventLimit" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="newAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddToAccount">
        <xsd:sequence>
            <xsd:element name="addCredit" minOccurs="0" type="EfcModule:PaymentFee"/>
            <xsd:element name="addDistance" minOccurs="0" type="Distance"/>
            <xsd:element name="addTime" minOccurs="0" type="EfcModule:DateAndTime"/>
            <xsd:element name="addDuration" minOccurs="0" type="Duration"/>
            <xsd:element name="addEvents" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="addAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccountUpdate">
        <xsd:choice>
            <xsd:element name="reloadAccount" type="ReloadAccount"/>
            <xsd:element name="setAccount" type="NewAccountLimit"/>
            <xsd:element name="addToAccount" type="AddToAccount"/>
        </xsd:choice>
    </xsd:complexType>

</xsd:schema>