src/main/resources/xsdFiles/CommonAPCI_ADUType.xsd

<?xml version="1.0" encoding="UTF-8"?><!--this .xsd file is use to validate the common part APCI of all request/response in viapass
and each ADUType
this .xsd is base on document Back-office-communication 2.6 28-02-2018,
this document must resume the european standard iso-12855-->
<xsd:schema attributeFormDefault="qualified" targetNamespace="CommonAPCI_ADUTypeNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:asn1="asn1Namespace" xmlns:Common="CommonNamespace" xmlns:x="CommonAPCI_ADUTypeNamespace">

    <xsd:import namespace="asn1Namespace" schemaLocation="asn1.xsd"/>
    <xsd:import namespace="CommonNamespace" schemaLocation="Common.xsd"/>

    <xsd:complexType name="Apci">
        <xsd:sequence>
            <xsd:element name="messageOriginator" type="Common:Provider"/>
            <xsd:element name="informationSenderID" type="Common:Provider"/>
            <xsd:element name="informationrecipientID" type="Common:Provider"/>
            <xsd:element name="contextID" minOccurs="0" type="asn1:RegimeID"/>
            <xsd:element name="messageIdentifier" type="xsd:integer"/>
            <xsd:element name="relatedMessageId" minOccurs="0"/>
            <xsd:element name="aduType" type="asn1:ADUType"/>
            <xsd:element name="numberofStructs" type="asn1:NumberOfADUStruct"/>
            <xsd:element name="messageDate" type="asn1:GeneralizedTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AduType">
        <xsd:choice>
            <!--            <xsd:element name="requestADU" type="x:RequestADU"/>-->
            <xsd:element name="ackADU" type="x:AckADU"/>
            <!--            <xsd:element name="trustObjectADU" type="x:TrustObjectADU"/>-->
            <!--            <xsd:element name="efcContextDataADU" type="x:EFCContextDataADU"/>-->
            <xsd:element name="exceptionListADU" type="x:ExceptionListADU"/>
            <xsd:element name="reportAbnormalOBEADU" type="x:ReportAbnormalOBEADU"/>
            <xsd:element name="tollDeclarationADU" type="x:TollDeclarationADU"/>
            <!--            <xsd:element name="billingDetailsADU" type="x:BillingDetailsADU"/>-->
            <!--            <xsd:element name="paymentClaimADU" type="x:PaymentClaimADU"/>-->
            <!--            <xsd:element name="reportQAADU" type="x:ReportQAADU"/>-->
            <!--            <xsd:element name="statusADU" type="x:StatusADU"/>-->
            <xsd:element name="retrieveUserDetailsADU" type="x:RetrieveUserDetailsADU"/>
            <xsd:element name="provideUserDetailsADU" type="x:ProvideUserDetailsADU"/>
            <!--            <xsd:element name="reportCCCEventADU" type="x:ReportCCCEventADU"/>-->
            <xsd:element name="retrieveTollDeclarationADU" type="x:RetrieveTollDeclarationADU"/>
            <!--            <xsd:element name="retrieveCCCEventADU" type="x:RetrieveCCCEventADU"/>-->
        </xsd:choice>
    </xsd:complexType>

    <!--*************************EACH ADU TYPE ARE DESCRIBE HERE*******************************************-->

    <xsd:complexType name="TollDeclarationADU">
        <xsd:sequence>
            <xsd:element name="tollDeclarationId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="issuerId" type="Common:Provider"/>
                        <xsd:element name="declarationId" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gnssTollDeclaration">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="ChargeReport">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="obeId" minOccurs="0" type="Common:OBEID"/>
                                    <xsd:element name="vehicleLPNr" minOccurs="0" type="Common:LicensePlateNumber"/>
                                    <xsd:element name="paymentMeans" minOccurs="0" type="Common:PaymentMeans"/>
                                    <xsd:element name="serviceProviderContract" type="Common:EFC_ContextMark"/>
                                    <xsd:element name="tollCharger" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="efcOperator" type="Common:Provider"/>
                                                <xsd:element name="recipient" type="Common:Provider"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="timeOfReport" type="asn1:DateAndTime" minOccurs="0"/>
                                    <xsd:element name="reportPeriod" type="Common:Period"/>
                                    <xsd:element name="versionInfo" minOccurs="0" type="xsd:hexBinary"/>
                                    <xsd:element name="usageStatementList">
                                        <xsd:complexType>
                                            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xsd:element name="UsageStatement" minOccurs="0">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="usageStatementID" minOccurs="0">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:unsignedShort"/>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="regimeID" minOccurs="0">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:unsignedShort"/>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="aggregatedFee" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="timePeriodCovered" type="Common:Period"/>
                                                                        <xsd:element name="feeExclVat" type="asn1:PaymentFee"/>
                                                                        <xsd:element name="vat" minOccurs="0" type="asn1:PaymentFee"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="vat" minOccurs="0" type="asn1:PaymentFee"/>
                                                            <xsd:element name="aggregatedSingleTariffClassSession" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="timePeriodCovered" minOccurs="0" type="Common:Period"/>
                                                                        <xsd:element name="vehicleDescription" minOccurs="0">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="vehicleLPNr" minOccurs="0" type="Common:LicensePlateNumber"/>
                                                                                    <xsd:element name="axles" minOccurs="0" type="Common:VehicleAxles"/>
                                                                                    <xsd:element name="class" minOccurs="0" type="xsd:unsignedByte"/>
                                                                                    <xsd:element name="dimensions" minOccurs="0" type="asn1:VehicleDimensions"/>
                                                                                    <xsd:element name="specificCharacteristics">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="environmentalCharacteristics">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="euroValue" type="asn1:EuroValue"/>
                                                                                                            <xsd:element name="copValue" minOccurs="0" type="asn1:CopValue"/>
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                                <xsd:element name="engineCharacteristics" minOccurs="0" type="xsd:string"/>
                                                                                                <xsd:element name="descriptiveCharacteristics" minOccurs="0" type="asn1:DescriptiveCharacteristics"/><!--ToDO check the list-->
                                                                                                <xsd:element name="futureCharacteristics" minOccurs="0" type="asn1:FutureCharacteristics"/>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="ladenWeight" type="xsd:unsignedShort"/>
                                                                                    <xsd:element name="weightLimits" minOccurs="0">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="vehicleMaxLadenWeight" type="xsd:unsignedShort"/>
                                                                                                <xsd:element name="vehicleTrainMaximumWeight" type="xsd:unsignedShort"/>
                                                                                                <xsd:element name="vehicleWeightUnladen" type="xsd:unsignedShort"/>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="tariffClass" minOccurs="0" type="asn1:TariffClass"/>
                                                                        <xsd:element name="totalDistanceCovered" minOccurs="0" type="Common:Distance"/>
                                                                        <xsd:element name="numberOfDetectedEvents" minOccurs="0" type="xsd:integer"/>
                                                                        <xsd:element name="obeStatus" minOccurs="0" type="asn1:OBEStatus"/>
                                                                        <xsd:element name="feeExclVat" minOccurs="0" type="asn1:PaymentFee"/>
                                                                        <xsd:element name="vat" minOccurs="0" type="asn1:PaymentFee"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="listOfChargeObjects" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence maxOccurs="100">
                                                                        <xsd:element name="DetectedChargeObject">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="chargeObjectId">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="regimeId" minOccurs="0">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction base="xsd:unsignedShort"/>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                                <xsd:element name="chargeObjectDesignation">
                                                                                                    <xsd:simpleType>
                                                                                                        <xsd:restriction base="xsd:unsignedInt"/>
                                                                                                    </xsd:simpleType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="subObjectNumber" minOccurs="0">
                                                                                        <xsd:simpleType>
                                                                                            <xsd:restriction base="xsd:unsignedInt"/>
                                                                                        </xsd:simpleType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="timeWhenUsed" minOccurs="0" type="asn1:DateAndTime"/>
                                                                                    <xsd:element name="mileageWhenUsed" minOccurs="0" maxOccurs="0" type="Common:Distance"/>
                                                                                    <xsd:element name="vehicleDescription" minOccurs="0" maxOccurs="0">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="vehicleLPNr" minOccurs="0" type="Common:LicensePlateNumber"/>
                                                                                                <xsd:element name="axles" minOccurs="0" type="Common:VehicleAxles"/>
                                                                                                <xsd:element name="class" minOccurs="0" type="xsd:unsignedByte"/>
                                                                                                <xsd:element name="dimensions" minOccurs="0" type="asn1:VehicleDimensions"/>
                                                                                                <xsd:element name="specificCharacteristics">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="environmentalCharacteristics">
                                                                                                                <xsd:complexType>
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element name="euroValue" type="asn1:EuroValue"/>
                                                                                                                        <xsd:element name="copValue" type="asn1:CopValue"/>
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:complexType>
                                                                                                            </xsd:element>
                                                                                                            <!-- TODO values of engineCharacteristics have to be limited -->
                                                                                                            <!-- <xsd:element name="engineCharacteristics" type="asn1:EngineCharacteristics"/> -->
                                                                                                            <xsd:element name="engineCharacteristics" type="xsd:string"/>
                                                                                                            <xsd:element name="descriptiveCharacteristics" type="asn1:DescriptiveCharacteristics"/>
                                                                                                            <xsd:element name="futureCharacteristics" type="asn1:FutureCharacteristics"/>
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                                <xsd:element name="ladenWeight" minOccurs="0" type="xsd:unsignedShort"/>
                                                                                                <xsd:element name="weightLimits" minOccurs="0">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="vehicleMaxLadenWeight" type="xsd:unsignedShort"/>
                                                                                                            <xsd:element name="vehicleTrainMaximumWeight" type="xsd:unsignedShort"/>
                                                                                                            <xsd:element name="vehicleWeightUnladen" type="xsd:unsignedShort"/>
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="tariffClass" minOccurs="0" maxOccurs="0" type="asn1:TariffClass"/>
                                                                                    <xsd:element name="obeStatus" minOccurs="0" maxOccurs="0" type="asn1:OBEStatus"/>
                                                                                    <xsd:element name="feeExclVat" minOccurs="0" maxOccurs="0" type="asn1:PaymentFee"/>
                                                                                    <xsd:element name="vat" minOccurs="0" maxOccurs="0" type="asn1:PaymentFee"/>
                                                                                    <xsd:element name="chargeObjDetectionMode" minOccurs="0" maxOccurs="0">
                                                                                        <xsd:simpleType>
                                                                                            <xsd:restriction base="xsd:token">
                                                                                                <xsd:enumeration value="measured"/>
                                                                                                <xsd:enumeration value="inferred"/>
                                                                                                <xsd:enumeration value="lac"/>
                                                                                            </xsd:restriction>
                                                                                        </xsd:simpleType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="listOfDSRCUsageData" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence minOccurs="0" maxOccurs="127">
                                                                        <xsd:element name="Attributes" type="Common:Attributes"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="listOfRawUsageData" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="rawDataList">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                    <xsd:element name="MeasuredRawData">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="measuredPosition" type="asn1:Position"/>
                                                                                                <xsd:element name="timeWhenMeasured" type="asn1:DateAndTime"/>
                                                                                                <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="vehicleDescription" minOccurs="0">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="vehicleLPNr" minOccurs="0" type="Common:LicensePlateNumber"/>
                                                                                    <xsd:element name="axles" minOccurs="0" type="Common:VehicleAxles"/>
                                                                                    <xsd:element name="class" minOccurs="0" type="xsd:unsignedByte"/>
                                                                                    <xsd:element name="dimensions" minOccurs="0" type="asn1:VehicleDimensions"/>
                                                                                    <xsd:element name="specificCharacteristics" type="Common:SpecificCharacteristics"/>
                                                                                    <xsd:element name="ladenWeight" minOccurs="0" type="xsd:unsignedShort"/>
                                                                                    <xsd:element name="weightLimits" minOccurs="0" type="asn1:VehicleWeightLimits"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element name="tariffClass" minOccurs="0" type="asn1:TariffClass"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="noUsage" minOccurs="0" type="xsd:boolean"/>
                                                            <xsd:element name="additionalUsageInformation" minOccurs="0" type="xsd:hexBinary"/>
                                                            <xsd:element name="usageAuthenticator" minOccurs="0" type="xsd:hexBinary"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="vatForThisSession" minOccurs="0" type="asn1:PaymentFee"/>
                                    <xsd:element name="accountStatus" minOccurs="0" type="asn1:AccountStatus"/>
                                    <xsd:element name="transactionCounter" minOccurs="0" type="xsd:unsignedInt"/>
                                    <xsd:element name="mileage" minOccurs="0" type="Common:Distance"/>
                                    <xsd:element name="listOfCCCAttributes" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xsd:element name="CCCAttributes">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="timeOfCCCRecord" minOccurs="0" type="asn1:DateAndTime"/>
                                                            <xsd:element name="axlesHistory" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="timeWhenChanged" type="xsd:unsignedInt"/>
                                                                        <xsd:element name="previousVehicleAxles" type="Common:VehicleAxles"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="commStatus" minOccurs="0" type="asn1:CommunicationStatus"/>
                                                            <xsd:element name="gnssStatus" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="lastGnssFixLon" type="xsd:int"/>
                                                                        <xsd:element name="lastGnssFixLat" type="xsd:int"/>
                                                                        <xsd:element name="lastGnssFixTime" type="xsd:unsignedInt"/>
                                                                        <xsd:element name="currentHDOP" type="asn1:CurrentHDOP"/>
                                                                        <xsd:element name="lastLAC">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="timeOfLAC" type="xsd:unsignedInt"/>
                                                                                    <xsd:element name="lACOperator" type="Common:Provider"/>
                                                                                    <xsd:element name="rSEId" type="xsd:unsignedShort"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="distRecStatus" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="odometerStatus">
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:token">
                                                                                    <xsd:enumeration value="odometerInterfaceNotPresent"/>
                                                                                    <xsd:enumeration value="presentAndSignalReceived"/>
                                                                                    <xsd:enumeration value="presentAndSignalNotReceived"/>
                                                                                    <xsd:enumeration value="reservedForFutureUse"/>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:element>
                                                                        <xsd:element name="accumulatedTravelledDistance" type="xsd:unsignedInt"/>
                                                                        <xsd:element name="deviationFromGnss" type="xsd:byte"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="activeContext" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                                        <xsd:element name="SEQUENCE">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="contextId" type="Common:Provider"/>
                                                                                    <xsd:element name="contextVersion" type="xsd:unsignedByte"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="obeHistory" minOccurs="0" type="asn1:OBEStatusHistory"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="authenticator" minOccurs="0" type="xsd:hexBinary"/>
                                    <!--<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>-->
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveUserDetailsADU">
        <xsd:sequence  minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="RetrieveUserDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="Common:userID"/>
                        <xsd:element name="listOfParametersRequested" type="Common:ListOfParametersRequested"/>
                        <xsd:element name="userDetailsRequestReason" minOccurs="0" type="asn1:UserDetailsRequestReason"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExceptionListADU">
        <xsd:sequence minOccurs="0">
            <xsd:element name="exceptionListversion" type="xsd:integer"/>
            <xsd:element name="exceptionListType" type="asn1:ExceptionListType"/>
            <xsd:element name="exceptionValidityStart" type="asn1:GeneralizedTime" minOccurs="0"/>
            <xsd:element name="exceptionValidityEnd" type="asn1:GeneralizedTime" minOccurs="0"/>
            <xsd:element name="exceptionListEntries">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ExceptionListEntry" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="userId" type="Common:userID"/>
                                    <xsd:element name="blockType" type="asn1:ExceptionListBlockType"/>
                                    <xsd:element name="reasonCode" type="asn1:ExceptionListReasonType"/>
                                    <xsd:element name="dateAndTime" type="asn1:GeneralizedTime"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AckADU">
        <xsd:sequence>
            <xsd:element name="aDUIdentifier" type="asn1:MessageIdentifier"/>
            <xsd:element name="numberOfADUStructs" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="asn1:NumberOfADUStruct"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ackCode" type="asn1:ReasonMessageACKADU"/>
            <xsd:element name="aduCode" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="numberOfADUStruct" type="asn1:NumberOfADUStruct"/>
                                    <xsd:element name="aDUReasonCode" type="asn1:ADUReasonCode"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProvideUserDetailsADU">
        <xsd:sequence>
            <xsd:element name="ProvideUserDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="originaluserIdRequest" type="Common:userID"/>
                        <xsd:element name="userId" type="Common:userID"/>
                        <xsd:element name="statusFlag" minOccurs="0" type="asn1:UserStatus"/>
                        <xsd:element name="listOfUserParameters" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="7">
                                    <xsd:element name="UserParameterResponse">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="userParameterResponse" type="Common:UserParameterResponseDetails"/>
                                                <xsd:element name="userParameterStatus" type="asn1:UserParameterStatus"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveTollDeclarationADU">
        <xsd:sequence>
            <xsd:element name="RetrieveTollDeclarations" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="Common:userID"/>
                        <xsd:element name="startTime" type="asn1:GeneralizedTime"/>
                        <xsd:element name="endTime" type="asn1:GeneralizedTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReportAbnormalOBEADU">
        <xsd:sequence>
            <xsd:element name="userId" type="Common:userID"/>
            <xsd:element name="dateAndTime" type="asn1:GeneralizedTime"/>
            <xsd:element name="abnormalOBEReasonCode" type="asn1:AbnormalOBEReasonCode"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--****************************NOT USED FOR THE MOMENT****************************************-->

    <xsd:complexType name="RequestADU">
        <xsd:sequence>
            <xsd:element name="requestedADUType" minOccurs="0" type="asn1:AduTypeString"/>
            <xsd:element name="aDUIdentifier" minOccurs="0" type="asn1:MessageIdentifier"/>
            <!--<xsd:element name="numberOfADUStructs" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="asn1:NumberOfADUStruct"/>
                </xsd:simpleType>
            </xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TrustObjectADU">
        <xsd:sequence>
            <xsd:element name="trustObjectID" type="xsd:integer"/>
            <xsd:element name="startValidity" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="endValidity" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="trustObjectStatus" type="asn1:TrustObjectStatus"/>
            <xsd:element name="typeOfTrustObject" type="asn1:ListOfTrustObjectTypes"/>
            <xsd:element name="purposesOfTrustObject">
                <xsd:simpleType>
                    <xsd:list itemType="asn1:ListOfTrustObjectPurposes"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eFCContextMark" minOccurs="0" type="Common:EFC_ContextMark"/>
            <xsd:element name="keyReference" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="trustObject" type="asn1:BitString"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EFCContextDataADU">
        <xsd:choice>
            <xsd:element name="gnssContext">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contextInterrelations" minOccurs="0" type="Common:RoamingRules"/>
                        <xsd:element name="regimeContextData">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="iso175753ADU"
                                                             type="Common:Iso17575-3AduBody"/>
                                                <xsd:element name="gnssGDFLayout" minOccurs="0"
                                                             type="Common:SectionTollingLayoutGDF"/>
                                                <xsd:element name="feeModifiers" minOccurs="0" type="Common:FeeModifiers"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dsrcContext">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regimeContextData">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="iso175753ADU" type="Common:Iso17575-3AduBody"/>
                                    <xsd:element name="feeModifiers" minOccurs="0" type="Common:FeeModifiers"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="BillingDetailsADU">
        <xsd:sequence>
            <xsd:element name="billingDetailsId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="issuerId" type="Common:Provider"/>
                        <xsd:element name="claimId" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tollChargerId" type="Common:Provider"/>
            <xsd:element name="contextId" type="xsd:unsignedShort"/>
            <xsd:element name="userId" minOccurs="0" type="Common:userID"/>
            <xsd:element name="period" type="Common:Period"/>
            <xsd:element name="billingDetailsAmount" type="Common:Amount"/>
            <xsd:element name="usageDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contextName" type="xsd:string"/>
                        <xsd:element name="appliedUserClass" type="xsd:string"/>
                        <xsd:element name="perDeclaredVehicleClasses">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="declaredVehicleClass" type="xsd:string"/>
                                                <xsd:element name="perUsedTimeClasses">
                                                    <xsd:complexType>
                                                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xsd:element name="SEQUENCE">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="appliedTimeClass"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="costCenter" minOccurs="0"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="usageList">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence minOccurs="0"
                                                                                              maxOccurs="unbounded">
                                                                                    <xsd:element name="UsageDetail"
                                                                                                 type="Common:UsageDetail"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="refTollDeclaration" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="TollDeclarationId" type="Common:TollDeclarationId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associatedEventData" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="AssociatedEventData" type="Common:AssociatedEventData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PaymentClaimADU">
        <xsd:sequence>
            <xsd:element name="paymentClaimId" type="xsd:integer"/>
            <xsd:element name="startDateTime" type="xsd:dateTime"/>
            <xsd:element name="endDateTime" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="userId" minOccurs="0" type="Common:userID"/>
            <xsd:element name="paymentClaimAmount" type="Common:Amount"/>
            <xsd:element name="paymentClaimStatus" type="asn1:PaymentClaimStatus"/>
            <xsd:element name="typeOfGoods" minOccurs="0" type="asn1:TypeOfGoods"/>
            <xsd:element name="associatedBillingDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RelatedMessageId" type="Common:RelatedMessageId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReportQAADU">
        <xsd:sequence>
            <xsd:element name="qualityParameterID" type="xsd:integer"/>
            <xsd:element name="qualityParameterName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="qualityParameterValue" minOccurs="0" type="xsd:double"/>
            <xsd:element name="qualityParameterStatus" type="asn1:QualityParameterStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StatusADU">
        <xsd:choice>
            <xsd:element name="generalStatusCode" type="asn1:GeneralStatusCode"/>
            <xsd:element name="messageStatusCode" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="asn1:MessageIdentifier"/>
                        <xsd:element name="reasonOfADUStruct">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="numberOfADUStruct" type="asn1:NumberOfADUStruct"/>
                                                <xsd:element name="reason" type="asn1:MessageReasonCode"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="ReportCCCEventADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CCCEvent" type="Common:CCCEvent"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveCCCEventADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="RetrieveCCCEvents" type="Common:RetrieveCCCEvents"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>