src/main/resources/xsdFiles/CommonList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="/viapass/xsd/namespace/CommonListModule"
            elementFormDefault="unqualified">
    <xsd:complexType name="ReasonMessageACKADU">
        <xsd:choice>
            <xsd:element name="obsoleteADU" type="xsd:string"/>
            <xsd:element name="aDUOK" type="xsd:string"/>
            <xsd:element name="aDUNotOK" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>