src/main/resources/xsdFiles/ContextDataModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://tsystems.com/gw/ws/iso/ContextDataModule"
        xmlns:ChargingModule="http://tsystems.com/gw/ws/iso/ChargingModule"
        xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
        xmlns:CccModule="http://tsystems.com/gw/ws/iso/CccModule"
        xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
        targetNamespace="http://tsystems.com/gw/ws/iso/ContextDataModule"
        elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/ChargingModule"
                schemaLocation="ChargingModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/CccModule"
                schemaLocation="CccModule.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="iso17575-3Adu" type="Iso17575-3Adu"/>
    <xsd:complexType name="Iso17575-3Adu">
        <xsd:sequence>
            <xsd:element name="aduHeader" type="Iso17575-3AduHeader"/>
            <xsd:element name="aduBody" type="Iso17575-3AduBody"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="cO2EmissionValueRange" type="CO2EmissionValueRange"/>
    <xsd:complexType name="CO2EmissionValueRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="CO2EmissionValue"/>
            <xsd:element name="upperLimit" type="CO2EmissionValue"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Int1">
        <xsd:restriction base="xsd:unsignedByte"/>
    </xsd:simpleType>

    <xsd:simpleType name="ActualNumberOfPassengers">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="AreaId">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="Int2">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:simpleType name="CO2EmissionValue">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="Int4">
        <xsd:restriction base="xsd:unsignedInt"/>
    </xsd:simpleType>

    <xsd:simpleType name="ChargeObjectId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:complexType name="EntityId">
        <xsd:complexContent>
            <xsd:extension base="EfcModule:Provider"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ContextId">
        <xsd:complexContent>
            <xsd:extension base="EntityId"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="CopValue">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="noEntry"/>
            <xsd:enumeration value="co2Class1"/>
            <xsd:enumeration value="co2Class2"/>
            <xsd:enumeration value="co2Class3"/>
            <xsd:enumeration value="co2Class4"/>
            <xsd:enumeration value="co2Class5"/>
            <xsd:enumeration value="co2Class6"/>
            <xsd:enumeration value="co2Class7"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CordonId">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="CordonSegmentId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:simpleType name="Currency">
        <xsd:restriction base="xsd:unsignedShort">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EntryLocationId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:complexType name="FeeLimit">
        <xsd:complexContent>
            <xsd:extension base="EfcModule:PaymentFee"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="Int2Signed">
        <xsd:restriction base="xsd:short"/>
    </xsd:simpleType>

    <xsd:simpleType name="Int3">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="16777215"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="LinkId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:simpleType name="LocalVehicleClassId">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="LocationClassId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:simpleType name="MessageAuthenticator">
        <xsd:restriction base="asn1:BitString"/>
    </xsd:simpleType>

    <xsd:simpleType name="PointId">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:simpleType name="RoundingRule">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="no"/>
            <xsd:enumeration value="up"/>
            <xsd:enumeration value="down"/>
            <xsd:enumeration value="accounting"/>
            <xsd:enumeration value="futureUse1"/>
            <xsd:enumeration value="futureUse2"/>
            <xsd:enumeration value="futureUse3"/>
            <xsd:enumeration value="futureUse4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TariffClassId">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="TimeClassId">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="TollSchemeType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="roadSectionPricing"/>
            <xsd:enumeration value="areaPricingDistance"/>
            <xsd:enumeration value="areaPricingTime"/>
            <xsd:enumeration value="cordonPricing"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="UserClassId">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleLengthOverall">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleHeightOverall">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleWidthOverall">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleMaxLadenWeight">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleTrainMaximumWeight">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleWeightUnladen">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleFirstAxleHeight">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleAxlesNumber">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:simpleType name="Weekday">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="monday"/>
            <xsd:enumeration value="tuesday"/>
            <xsd:enumeration value="wednesday"/>
            <xsd:enumeration value="thursday"/>
            <xsd:enumeration value="friday"/>
            <xsd:enumeration value="saturday"/>
            <xsd:enumeration value="sunday"/>
            <xsd:enumeration value="notUsed"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Iso17575-3AduHeader">
        <xsd:sequence>
            <xsd:element name="informationSender" type="EfcModule:Provider"/>
            <xsd:element name="informationOriginator" type="EfcModule:Provider"/>
            <xsd:element name="tollCharger" type="EfcModule:Provider"/>
            <xsd:element name="contextId" type="ContextId"/>
            <xsd:element name="aduSequenceNumber" type="Int4"/>
            <xsd:element name="aduAuthenticator" minOccurs="0" type="asn1:BitString"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OperationalStatus">
        <xsd:sequence>
            <xsd:element name="startsOperationAt" type="EfcModule:DateAndTime"/>
            <xsd:element name="stopsOperationAt" minOccurs="0" type="EfcModule:DateAndTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SphericalBox">
        <xsd:sequence>
            <xsd:element name="southernLatitude" type="CccModule:Latitude"/>
            <xsd:element name="northernLatitude" type="CccModule:Latitude"/>
            <xsd:element name="westernLongitude" type="CccModule:Longitude"/>
            <xsd:element name="easternLongitude" type="CccModule:Longitude"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VersionAndValidity">
        <xsd:sequence>
            <xsd:element name="version" type="ChargingModule:VersionID"/>
            <xsd:element name="validFrom" type="EfcModule:DateAndTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TollContextOverview">
        <xsd:sequence>
            <xsd:element name="tollCharger" type="ChargingModule:TollCharger"/>
            <xsd:element name="tollContext" type="ContextId"/>
            <xsd:element name="tollSchemeName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="tollSchemeType" type="TollSchemeType"/>
            <xsd:element name="operationalStatus" type="OperationalStatus"/>
            <xsd:element name="timeZone">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-720"/>
                        <xsd:maxInclusive value="720"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="tollContextBoundingBoxes" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SphericalBox" type="SphericalBox"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tollContextOverviewVersion" type="VersionAndValidity"/>
            <xsd:element name="tollContextOverviewAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeUnit">
        <xsd:choice>
            <xsd:element name="distance" type="ChargingModule:Distance"/>
            <xsd:element name="time" type="ChargingModule:Duration"/>
            <xsd:element name="event" type="Int1"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="IntervalScaleParameter">
        <xsd:sequence>
            <xsd:element name="vehicleMaxLadenWeightIntervals" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="zeroOffset" type="Int2Signed"/>
                        <xsd:element name="resolution" type="VehicleMaxLadenWeight"/>
                        <xsd:element name="max" type="VehicleMaxLadenWeight"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleLengthOverallIntervals" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="zeroOffset" type="Int2Signed"/>
                        <xsd:element name="resolution" type="VehicleLengthOverall"/>
                        <xsd:element name="max" type="VehicleLengthOverall"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MaxFee">
        <xsd:sequence>
            <xsd:element name="perDay" minOccurs="0" type="Int3"/>
            <xsd:element name="perWeek" minOccurs="0" type="Int3"/>
            <xsd:element name="perMonth" minOccurs="0" type="Int3"/>
            <xsd:element name="perYear" minOccurs="0" type="Int3"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Tariff">
        <xsd:sequence>
            <xsd:element name="tariffClass" type="TariffClassId"/>
            <xsd:element name="chargeUnit" type="ChargeUnit"/>
            <xsd:element name="currency" type="Currency"/>
            <xsd:element name="basicFeePerChargeUnit" type="xsd:double"/>
            <xsd:element name="vat" minOccurs="0" type="Int3"/>
            <xsd:element name="intervalScaleParameters" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="IntervalScaleParameter" type="IntervalScaleParameter"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="offsetFee" minOccurs="0" type="Int3"/>
            <xsd:element name="minFee" minOccurs="0" type="Int3"/>
            <xsd:element name="thresholdFee" minOccurs="0" type="Int3"/>
            <xsd:element name="maxFee" minOccurs="0" type="MaxFee"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TariffTable">
        <xsd:sequence>
            <xsd:element name="tariffs">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Tariff" type="Tariff"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="roundingRule" minOccurs="0" type="RoundingRule"/>
            <xsd:element name="tariffTableVersion" type="VersionAndValidity"/>
            <xsd:element name="tariffTableAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TariffClass">
        <xsd:sequence>
            <xsd:element name="tariffClassId" type="TariffClassId"/>
            <xsd:element name="localVehicleClasses">
                <xsd:simpleType>
                    <xsd:list itemType="LocalVehicleClassId"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="locationClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="LocationClassId"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="userClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="UserClassId"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TariffClassDefinition">
        <xsd:sequence>
            <xsd:element name="tariffClasses">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="TariffClass" type="TariffClass"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tariffClassDefinitionVersion" type="VersionAndValidity"/>
            <xsd:element name="tariffClassDefinitionAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NominalVehicleParameters">
        <xsd:sequence>
            <xsd:element name="vehicleClasses">
                <xsd:simpleType>
                    <xsd:list itemType="EfcModule:VehicleClass"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="vehicleAxlesNumbers" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleAxles" type="EfcModule:VehicleAxles"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--<xsd:element name="euroValues" minOccurs="0">-->
                <!--<xsd:simpleType>-->
                    <!--<xsd:list itemType="EfcModule:EuroValue"/>-->
                <!--</xsd:simpleType>-->
            <!--</xsd:element>-->
            <xsd:element name="euroValues" type="EfcModule:EuroValue"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="VehicleLengthOverallRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleLengthOverall"/>
            <xsd:element name="upperLimit" type="VehicleLengthOverall"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleHeightOverallRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleHeightOverall"/>
            <xsd:element name="upperLimit" type="VehicleHeightOverall"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleWidthOverallRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleWidthOverall"/>
            <xsd:element name="upperLimit" type="VehicleWidthOverall"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleFirstAxleHeightRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleFirstAxleHeight"/>
            <xsd:element name="upperLimit" type="VehicleFirstAxleHeight"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleAxlesNumberRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleAxlesNumber"/>
            <xsd:element name="upperLimit" type="VehicleAxlesNumber"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleMaxLadenWeightRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleMaxLadenWeight"/>
            <xsd:element name="upperLImit" type="VehicleMaxLadenWeight"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleTrainMaximumWeightRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleTrainMaximumWeight"/>
            <xsd:element name="upperLimit" type="VehicleTrainMaximumWeight"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleWeightUnladenRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="VehicleWeightUnladen"/>
            <xsd:element name="upperLimit" type="VehicleWeightUnladen"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleWeightLadenRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="EfcModule:VehicleWeightLaden"/>
            <xsd:element name="upperLimit" type="EfcModule:VehicleWeightLaden"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EuroValueRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="EfcModule:EuroValue"/>
            <xsd:element name="upperLimit" type="EfcModule:EuroValue"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CopValueRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="CopValue"/>
            <xsd:element name="upperLimit" type="CopValue"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleClassRange">
        <xsd:sequence>
            <xsd:element name="lowerLimit" type="EfcModule:VehicleClass"/>
            <xsd:element name="upperLimit" type="EfcModule:VehicleClass"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrdinalVehicleParameters">
        <xsd:sequence>
            <xsd:element name="vehicleLengthOverall" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleLengthOverallRange" type="VehicleLengthOverallRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleHeightOverall" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleHeightOverallRange" type="VehicleHeightOverallRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleWidthOverall" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleWidthOverallRange" type="VehicleWidthOverallRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleFirstAxleHeight" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleFirstAxleHeightRange" type="VehicleFirstAxleHeightRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleAxlesNumber" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleAxlesNumberRange" type="VehicleAxlesNumberRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleMaxLadenWeight" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleMaxLadenWeightRange" type="VehicleMaxLadenWeightRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleTrainMaximumWeight" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleTrainMaximumWeightRange" type="VehicleTrainMaximumWeightRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleWeightUnladen" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleWeightUnladenRange" type="VehicleWeightUnladenRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleWeightLaden" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleWeightLadenRange" type="VehicleWeightLadenRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="euroValue" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="EuroValueRange" type="EuroValueRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="copValue" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="CopValueRange" type="CopValueRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleClass" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="VehicleClassRange" type="VehicleClassRange"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="co2EmissionValue" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="CO2EmissionValue"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocalVehicleClass">
        <xsd:sequence>
            <xsd:element name="localVehicleClassId" type="LocalVehicleClassId"/>
            <xsd:element name="nominalElements" type="NominalVehicleParameters"/>
            <xsd:element name="ordinalElements" minOccurs="0" type="OrdinalVehicleParameters"/>
            <xsd:element name="priorityValue" minOccurs="0" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocalVehicleClassDefinition">
        <xsd:sequence>
            <xsd:element name="localVehicleClasses">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="LocalVehicleClass" type="LocalVehicleClass"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="localVehicleClassVersion" type="VersionAndValidity"/>
            <xsd:element name="localVehicleClassAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NominalTimeParameters">
        <xsd:sequence>
            <xsd:element name="weekdays" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="Weekday"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dates" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="DateCompact" type="EfcModule:DateCompact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="classesSetExternally" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="congestionChargeLevel1"/>
                                <xsd:enumeration value="congestionChargeLevel2"/>
                                <xsd:enumeration value="futureUse1"/>
                                <xsd:enumeration value="futureUse2"/>
                                <xsd:enumeration value="futureUse3"/>
                                <xsd:enumeration value="futureUse4"/>
                                <xsd:enumeration value="futureUse5"/>
                                <xsd:enumeration value="futureUse6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:list>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Time">
        <xsd:sequence>
            <xsd:element name="hours">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="23"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mins">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="secs">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrdinalTimeParameters">
        <xsd:sequence>
            <xsd:element name="weekdays" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="startDay" type="Weekday"/>
                                    <xsd:element name="endDay" type="Weekday"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="absoluteTimeOfDay" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="startTime" type="Time"/>
                                    <xsd:element name="endTime" type="Time"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="relativeTimePeriods" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="minPeriod" minOccurs="0" type="Int2"/>
                                    <xsd:element name="maxPeriod" minOccurs="0" type="Int2"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="periodsInYear" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="startDay" type="EfcModule:DateCompact"/>
                                    <xsd:element name="endDay" type="EfcModule:DateCompact"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TimeClass">
        <xsd:sequence>
            <xsd:element name="timeClassId" type="TimeClassId"/>
            <xsd:element name="nominalElements" minOccurs="0" type="NominalTimeParameters"/>
            <xsd:element name="ordinalElements" minOccurs="0" type="OrdinalTimeParameters"/>
            <xsd:element name="priorityValue" minOccurs="0" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TimeClassDefinition">
        <xsd:sequence>
            <xsd:element name="timeClasses">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="TimeClass" type="TimeClass"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="timeClassDefinitionVersion" type="VersionAndValidity"/>
            <xsd:element name="timeClassDefinitionAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ContractTypes">
        <xsd:sequence>
            <xsd:element name="contractProvider" type="EfcModule:Provider"/>
            <xsd:element name="typeOfContract">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UserClass">
        <xsd:sequence>
            <xsd:element name="userClassId" type="UserClassId"/>
            <xsd:element name="contractTypes" minOccurs="0" type="ContractTypes"/>
            <xsd:element name="actualNumberOfPassengers" minOccurs="0" type="ActualNumberOfPassengers"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UserClassDefinition">
        <xsd:sequence>
            <xsd:element name="userClasses">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="UserClass" type="UserClass"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="userClassDefinitionVersion" type="VersionAndValidity"/>
            <xsd:element name="userClassDefinitionAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbsolutePointCoordinates">
        <xsd:sequence>
            <xsd:element name="longitude" type="CccModule:Longitude"/>
            <xsd:element name="latitude" type="CccModule:Latitude"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RelativePointCoordinates">
        <xsd:sequence>
            <xsd:element name="longitude" type="Int2Signed"/>
            <xsd:element name="latitude" type="Int2Signed"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Point">
        <xsd:choice>
            <xsd:element name="pointIdentifier" type="PointId"/>
            <xsd:element name="absolutePointCoordinates" type="AbsolutePointCoordinates"/>
            <xsd:element name="relativePointCoordinates" type="RelativePointCoordinates"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="PointIdDefinition">
        <xsd:sequence>
            <xsd:element name="pointId" type="PointId"/>
            <xsd:element name="pointCoordinates" type="AbsolutePointCoordinates"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Link">
        <xsd:sequence>
            <xsd:element name="linkId" type="LinkId"/>
            <xsd:element name="startPoint" type="Point"/>
            <xsd:element name="endPoint" type="Point"/>
            <xsd:element name="intermediatePoints" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Point" type="Point"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LiabilityRules">
        <xsd:choice>
            <xsd:element name="tollPoints">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="2">
                        <xsd:element name="Point" type="Point"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="minTollPath" type="Link"/>
            <xsd:element name="minTollPortion">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="SupportingPoint">
        <xsd:sequence>
            <xsd:element name="supportPoint" type="Point"/>
            <xsd:element name="distanceToNextRoad" minOccurs="0" type="ChargingModule:Distance"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EntryDependingDistanceData">
        <xsd:sequence>
            <xsd:element name="chargeObjectAtEntry" type="ChargeObjectId"/>
            <xsd:element name="definedDistance" type="ChargingModule:Distance"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeDistance">
        <xsd:choice>
            <xsd:element name="predefinedDistance" type="ChargingModule:Distance"/>
            <xsd:element name="entryDependingDistance">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entryDependingDistance">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="EntryDependingDistanceData" type="EntryDependingDistanceData"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="missingEntryInformation" type="ChargingModule:Distance"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="SectionLayout">
        <xsd:sequence>
            <xsd:element name="chargeObjectId" type="ChargeObjectId"/>
            <xsd:element name="chargeObjectName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="chargeObjectRefPoint" minOccurs="0" type="Point"/>
            <xsd:element name="networkPoints" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="PointIdDefinition" type="PointIdDefinition"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tollPath" type="Link"/>
            <xsd:element name="liabilityRules" type="LiabilityRules"/>
            <xsd:element name="pathStructureTowards" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Link" type="Link"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pathStructureOnwards" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Link" type="Link"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="supportingInformation" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SupportingPoint" type="SupportingPoint"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="chargeDistance" type="ChargeDistance"/>
            <xsd:element name="realDistance" minOccurs="0" type="ChargingModule:Distance"/>
            <xsd:element name="applicableTimeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="locationClass" type="LocationClassId"/>
            <xsd:element name="storageRequired" minOccurs="0" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Polygon">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Point" type="Point"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoadNetworkObject">
        <xsd:sequence>
            <xsd:element name="chargeObjectId" type="ChargeObjectId"/>
            <xsd:element name="chargeObjectName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="chargeObjectRefPoint" minOccurs="0" type="Point"/>
            <xsd:element name="networkPoints" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Point" type="Point"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tollPath" type="Link"/>
            <xsd:element name="supportingInformation" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SupportingPoint" type="SupportingPoint"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="applicableTimeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoadNetwork">
        <xsd:sequence>
            <xsd:element name="networkId" type="Int1"/>
            <xsd:element name="locationClass" type="LocationClassId"/>
            <xsd:element name="roadNetworkObjects">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RoadNetworkObject" type="RoadNetworkObject"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaLayout">
        <xsd:sequence>
            <xsd:element name="areaId" type="AreaId"/>
            <xsd:element name="aeaBorder" type="Polygon"/>
            <xsd:element name="locationClass" type="LocationClassId"/>
            <xsd:element name="roadNetworks" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RoadNetwork" type="RoadNetwork"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CordonEntryLocation">
        <xsd:sequence>
            <xsd:element name="entryLocationId" type="ChargeObjectId"/>
            <xsd:element name="entryLocationClass" type="LocationClassId"/>
            <xsd:element name="applicableTimeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CordonExitLocation">
        <xsd:sequence>
            <xsd:element name="exitLocationId" type="ChargeObjectId"/>
            <xsd:element name="exitLocationClass">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="locationClass" type="LocationClassId"/>
                                    <xsd:element name="entryLocation" minOccurs="0">
                                        <xsd:simpleType>
                                            <xsd:list itemType="EntryLocationId"/>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="applicableTimeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CordonBorderSegment">
        <xsd:sequence>
            <xsd:element name="cordonSegmentId" type="CordonSegmentId"/>
            <xsd:element name="startPoint" type="Point"/>
            <xsd:element name="cordonEntryLocation" minOccurs="0" type="CordonEntryLocation"/>
            <xsd:element name="cordonExitLocation" minOccurs="0" type="CordonExitLocation"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CordonLayout">
        <xsd:sequence>
            <xsd:element name="cordonId" type="CordonId"/>
            <xsd:element name="cordonBorderPolygon">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="CordonBorderSegment" type="CordonBorderSegment"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Layout">
        <xsd:choice>
            <xsd:element name="sectionPricingLayout">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SectionLayout" type="SectionLayout"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="areaPricingLayout">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="AreaLayout" type="AreaLayout"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cordonPricingLayout">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="CordonLayout" type="CordonLayout"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="TollContextLayout">
        <xsd:sequence>
            <xsd:element name="layoutDescription" type="Layout"/>
            <xsd:element name="geoRefPoint" minOccurs="0" type="Point"/>
            <xsd:element name="tollContextVersion" type="VersionAndValidity"/>
            <xsd:element name="tollContextAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbsoluteTimeEvent">
        <xsd:sequence>
            <xsd:element name="timesDuringDay" type="Time"/>
            <xsd:element name="randomDelay" minOccurs="0" type="Int3"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RelativeTimeEvent">
        <xsd:sequence>
            <xsd:element name="timeDuration" type="Int3"/>
            <xsd:element name="randomDelay" minOccurs="0" type="Int3"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Line">
        <xsd:sequence>
            <xsd:element name="point1" type="Point"/>
            <xsd:element name="point2" type="Point"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocationEvent">
        <xsd:sequence>
            <xsd:element name="chargeObject" minOccurs="0" type="ChargeObjectId"/>
            <xsd:element name="line" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="lineDescription" type="Line"/>
                        <xsd:element name="crossingDirection1" type="xsd:boolean"/>
                        <xsd:element name="crossingDirection2" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="area" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="areaDescription" type="Polygon"/>
                        <xsd:element name="atEntry" type="xsd:boolean"/>
                        <xsd:element name="atExit" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeReportingEvents">
        <xsd:sequence>
            <xsd:element name="absoluteTimeEvents" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="AbsoluteTimeEvent" type="AbsoluteTimeEvent"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="relativeTimeEvents" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RelativeTimeEvent" type="RelativeTimeEvent"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="travelledDistanceEvents" minOccurs="0" type="ChargingModule:Distance"/>
            <xsd:element name="locationEvents" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="LocationEvent" type="LocationEvent"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="feeLimitEvents" minOccurs="0" type="FeeLimit"/>
            <xsd:element name="chargeReportingEventsVersion" type="VersionAndValidity"/>
            <xsd:element name="chargeReportingEventsAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeReportContent">
        <xsd:sequence>
            <xsd:element name="obeId" type="xsd:boolean"/>
            <xsd:element name="paymentMeans" type="xsd:boolean"/>
            <xsd:element name="tollCharger" type="xsd:boolean"/>
            <xsd:element name="versionInfo" type="xsd:boolean"/>
            <xsd:element name="vatForThisSession" type="xsd:boolean"/>
            <xsd:element name="accountStatus" type="xsd:boolean"/>
            <xsd:element name="transactionCounter" type="xsd:boolean"/>
            <xsd:element name="mileage" type="xsd:boolean"/>
            <xsd:element name="listOfCCCAttributes" type="xsd:boolean"/>
            <xsd:element name="authenticator" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UsageStatementContent">
        <xsd:sequence>
            <xsd:element name="usageStatementId" type="xsd:boolean"/>
            <xsd:element name="regimeId" type="xsd:boolean"/>
            <xsd:element name="aggregatedFee" type="xsd:boolean"/>
            <xsd:element name="aggregatedSingleTariffClassSession" type="xsd:boolean"/>
            <xsd:element name="listOfChargeObjects" type="xsd:boolean"/>
            <xsd:element name="listOfDSRCUsageData" type="xsd:boolean"/>
            <xsd:element name="listOfRawUsageData" type="xsd:boolean"/>
            <xsd:element name="noUsage" type="xsd:boolean"/>
            <xsd:element name="usageAuthenticator" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CccAttributesContent">
        <xsd:sequence>
            <xsd:element name="timeOfCCCRecord" type="xsd:boolean"/>
            <xsd:element name="axlesHistory" type="xsd:boolean"/>
            <xsd:element name="commStatus" type="xsd:boolean"/>
            <xsd:element name="gnssStatus" type="xsd:boolean"/>
            <xsd:element name="distRecStatus" type="xsd:boolean"/>
            <xsd:element name="activeContext" type="xsd:boolean"/>
            <xsd:element name="obeHistory" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedSingleTariffClassSessionContent">
        <xsd:sequence>
            <xsd:element name="timePeriodCovered" type="xsd:boolean"/>
            <xsd:element name="vehicleDescription" type="xsd:boolean"/>
            <xsd:element name="tariffClass" type="xsd:boolean"/>
            <xsd:element name="totalDistanceCovered" type="xsd:boolean"/>
            <xsd:element name="numberOfDetectedEvents" type="xsd:boolean"/>
            <xsd:element name="obeStatus" type="xsd:boolean"/>
            <xsd:element name="feeExclVat" type="xsd:boolean"/>
            <xsd:element name="vat" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DetectedChargeObjectContent">
        <xsd:sequence>
            <xsd:element name="subObjectNumber" type="xsd:boolean"/>
            <xsd:element name="timeWhenUsed" type="xsd:boolean"/>
            <xsd:element name="mileageWhenUsed" type="xsd:boolean"/>
            <xsd:element name="vehicleDescription" type="xsd:boolean"/>
            <xsd:element name="tariffClass" type="xsd:boolean"/>
            <xsd:element name="obeStatus" type="xsd:boolean"/>
            <xsd:element name="feeExclVat" type="xsd:boolean"/>
            <xsd:element name="vat" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfRawUsageDataContent">
        <xsd:sequence>
            <xsd:element name="vehicleDescription" type="xsd:boolean"/>
            <xsd:element name="tariffClass" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleDescriptionContent">
        <xsd:sequence>
            <xsd:element name="vehicleLPNr" type="xsd:boolean"/>
            <xsd:element name="axles" type="xsd:boolean"/>
            <xsd:element name="class" type="xsd:boolean"/>
            <xsd:element name="dimensions" type="xsd:boolean"/>
            <xsd:element name="specificCharacters" type="xsd:boolean"/>
            <xsd:element name="ladenWeight" type="xsd:boolean"/>
            <xsd:element name="weightLimits" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChargeReportConfiguration">
        <xsd:sequence>
            <xsd:element name="chargeReportContent" type="ChargeReportContent"/>
            <xsd:element name="usageStatementContent" type="UsageStatementContent"/>
            <xsd:element name="cccAttributesContent" minOccurs="0" type="CccAttributesContent"/>
            <xsd:element name="aggregatedSingleTariffClassSessionContent" minOccurs="0"
                         type="AggregatedSingleTariffClassSessionContent"/>
            <xsd:element name="detectedChargeObjectContent" minOccurs="0" type="DetectedChargeObjectContent"/>
            <xsd:element name="listOfRawUsageDataContent" minOccurs="0" type="ListOfRawUsageDataContent"/>
            <xsd:element name="vehicleDescriptionContent" minOccurs="0" type="VehicleDescriptionContent"/>
            <xsd:element name="chargeReportConfigurationVersion" type="VersionAndValidity"/>
            <xsd:element name="chargeReportConfigurationAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Iso17575-3AduBody">
        <xsd:sequence>
            <xsd:element name="tollContextOverview" minOccurs="0" type="TollContextOverview"/>
            <xsd:element name="tariffTable" minOccurs="0" type="TariffTable"/>
            <xsd:element name="tariffClassDefinition" minOccurs="0" type="TariffClassDefinition"/>
            <xsd:element name="localVehicleClassDefinition" minOccurs="0" type="LocalVehicleClassDefinition"/>
            <xsd:element name="timeClassDefinition" minOccurs="0" type="TimeClassDefinition"/>
            <xsd:element name="userClassDefinition" minOccurs="0" type="UserClassDefinition"/>
            <xsd:element name="tollContextLayout" minOccurs="0" type="TollContextLayout"/>
            <xsd:element name="chargeReportingEvents" minOccurs="0" type="ChargeReportingEvents"/>
            <xsd:element name="chargeReportConfiguration" minOccurs="0" type="ChargeReportConfiguration"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>