src/main/resources/xsdFiles/DSRCData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/DSRCData"
            targetNamespace="http://tsystems.com/gw/ws/iso/DSRCData"
            xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:AVIAEINumberingAndDataStructures="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
            xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
                schemaLocation="AVIAEINumberingAndDataStructures.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="namedFile" type="NamedFile"/>
    <xsd:complexType name="NamedFile">
        <xsd:sequence>
            <xsd:element name="name" type="FileName"/>
            <xsd:element name="file" type="File"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BeaconID">
        <xsd:sequence>
            <xsd:element name="manufacturerid">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="individualid">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="134217727"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Time">
        <xsd:restriction base="xsd:unsignedInt"/>
    </xsd:simpleType>

    <xsd:simpleType name="Profile">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="profile0"/>
                    <xsd:enumeration value="profile1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="127"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="DSRCApplicationEntityID">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="system"/>
                    <xsd:enumeration value="electronic-fee-collection"/>
                    <xsd:enumeration value="freight-fleet-management"/>
                    <xsd:enumeration value="public-transport"/>
                    <xsd:enumeration value="traffic-traveller-information"/>
                    <xsd:enumeration value="traffic-control"/>
                    <xsd:enumeration value="parking-management"/>
                    <xsd:enumeration value="geographic-road-database"/>
                    <xsd:enumeration value="medium-range-preinformation"/>
                    <xsd:enumeration value="man-machine-interface"/>
                    <xsd:enumeration value="intersystem-interface"/>
                    <xsd:enumeration value="automatic-vehicle-identification"/>
                    <xsd:enumeration value="emergency-warning"/>
                    <xsd:enumeration value="private"/>
                    <xsd:enumeration value="multi-purpose-payment"/>
                    <xsd:enumeration value="dsrc-resource-manager"/>
                    <xsd:enumeration value="after-theft-systems"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="31"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="Dsrc-EID">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="127"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ActionType">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="127"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Action-Request">
        <xsd:sequence>
            <xsd:element name="mode" type="xsd:boolean"/>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="actionType" type="ActionType"/>
            <xsd:element name="accessCredentials" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="actionParameter" minOccurs="0" type="Container"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ReturnStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noError"/>
                    <xsd:enumeration value="accessDenied"/>
                    <xsd:enumeration value="argumentError"/>
                    <xsd:enumeration value="complexityLimitation"/>
                    <xsd:enumeration value="processingFailure"/>
                    <xsd:enumeration value="processing"/>
                    <xsd:enumeration value="chainingError"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="127"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="Action-Response">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
            <xsd:element name="responseParameter" minOccurs="0" type="Container"/>
            <xsd:element name="ret" minOccurs="0" type="ReturnStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="EventType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="release"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedInt">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="127"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="Event-Report-Request">
        <xsd:sequence>
            <xsd:element name="mode" type="xsd:boolean"/>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="eventType" type="EventType"/>
            <xsd:element name="accessCredentials" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eventParameter" minOccurs="0" type="Container"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Event-Report-Response">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
            <xsd:element name="ret" minOccurs="0" type="ReturnStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Attributes">
        <xsd:sequence>
            <xsd:element name="attributeId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="attributeValue" type="Container"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttributeList">
        <xsd:sequence minOccurs="0" maxOccurs="127">
            <xsd:element name="Attributes" type="Attributes"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Set-Request">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mode" type="xsd:boolean"/>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="accessCredentials" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="attrList" type="AttributeList"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Set-Response">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
            <xsd:element name="ret" minOccurs="0" type="ReturnStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="AttributeIdList">
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:list>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:unsignedInt">
                            <xsd:minInclusive value="0"/>
                            <xsd:maxInclusive value="127"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:list>
            </xsd:simpleType>
            <xsd:minLength value="0"/>
            <xsd:maxLength value="127"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Get-Request">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="accessCredentials" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
            <xsd:element name="attrIdList" minOccurs="0" type="AttributeIdList"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Get-Response">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eid" type="Dsrc-EID"/>
            <xsd:element name="iid" minOccurs="0" type="Dsrc-EID"/>
            <xsd:element name="attributelist" minOccurs="0" type="AttributeList"/>
            <xsd:element name="ret" minOccurs="0" type="ReturnStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Initialisation-Request">
        <xsd:complexContent>
            <xsd:extension base="BST"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ObeConfiguration">
        <xsd:sequence>
            <xsd:element name="equipmentClass">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="32767"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="manufacturerID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="obeStatus" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VST">
        <xsd:sequence>
            <xsd:element name="fill">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="profile" type="Profile"/>
            <xsd:element name="applications" type="ApplicationList"/>
            <xsd:element name="obeConfiguration" type="ObeConfiguration"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Initialisation-Response">
        <xsd:complexContent>
            <xsd:extension base="VST"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="T-APDUs">
        <xsd:choice>
            <xsd:element name="action-request" type="Action-Request"/>
            <xsd:element name="action-response" type="Action-Response"/>
            <xsd:element name="event-report-request" type="Event-Report-Request"/>
            <xsd:element name="event-report-response" type="Event-Report-Response"/>
            <xsd:element name="set-request" type="Set-Request"/>
            <xsd:element name="set-response" type="Set-Response"/>
            <xsd:element name="get-request" type="Get-Request"/>
            <xsd:element name="get-response" type="Get-Response"/>
            <xsd:element name="initialisation-request" type="Initialisation-Request"/>
            <xsd:element name="initialisation-response" type="Initialisation-Response"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="FileName">
        <xsd:sequence>
            <xsd:element name="aseID" type="Dsrc-EID"/>
            <xsd:element name="fileID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Directory">
        <xsd:sequence minOccurs="0" maxOccurs="127">
            <xsd:element name="FileName" type="FileName"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Record">
        <xsd:choice>
            <xsd:element name="simple" type="xsd:string"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="File">
        <xsd:sequence minOccurs="0" maxOccurs="127">
            <xsd:element name="Record" type="Record"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BroadcastPool">
        <xsd:sequence>
            <xsd:element name="directoryvalue" type="Directory"/>
            <xsd:element name="content">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="127">
                        <xsd:element name="File" type="File"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FileType" final="#all"/>

    <xsd:complexType name="Container">
        <xsd:choice>
            <xsd:element name="integer" type="xsd:integer"/>
            <xsd:element name="bitstring" type="asn1:BitString"/>
            <xsd:element name="octetstring">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="universalString" type="asn1:UniversalString"/>
            <xsd:element name="beaconId" type="BeaconID"/>
            <xsd:element name="t-apdu" type="T-APDUs"/>
            <xsd:element name="dsrcApplicationEntityId" type="DSRCApplicationEntityID"/>
            <xsd:element name="dsrc-Ase-Id" type="Dsrc-EID"/>
            <xsd:element name="attrIdList" type="AttributeIdList"/>
            <xsd:element name="attrList" type="AttributeList"/>
            <xsd:element name="broadcastPool" type="BroadcastPool"/>
            <xsd:element name="directory" type="Directory"/>
            <xsd:element name="file" type="File"/>
            <xsd:element name="fileType" type="FileType"/>
            <xsd:element name="record" type="Record"/>
            <xsd:element name="time" type="Time"/>
            <xsd:element name="vector">
                <xsd:simpleType>
                    <xsd:restriction>
                        <xsd:simpleType>
                            <xsd:list>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:unsignedInt">
                                        <xsd:minInclusive value="0"/>
                                        <xsd:maxInclusive value="127"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:list>
                        </xsd:simpleType>
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gstrq" type="EfcModule:GetStampedRq"/>
            <xsd:element name="gstrs" type="EfcModule:GetStampedRs"/>
            <xsd:element name="sstrq" type="EfcModule:SetStampedRq"/>
            <xsd:element name="ginrq" type="EfcModule:GetInstanceRq"/>
            <xsd:element name="ginrs" type="EfcModule:GetInstanceRs"/>
            <xsd:element name="sinrq" type="EfcModule:SetInstanceRq"/>
            <xsd:element name="charq" type="EfcModule:ChannelRq"/>
            <xsd:element name="chars" type="EfcModule:ChannelRs"/>
            <xsd:element name="cpprq" type="EfcModule:CopyRq"/>
            <xsd:element name="subrq" type="EfcModule:SubRq"/>
            <xsd:element name="addrq" type="EfcModule:AddRq"/>
            <xsd:element name="debrq" type="EfcModule:DebitRq"/>
            <xsd:element name="debrs" type="EfcModule:DebitRs"/>
            <xsd:element name="crerq" type="EfcModule:CreditRq"/>
            <xsd:element name="crers" type="EfcModule:CreditRs"/>
            <xsd:element name="efccontext" type="EfcModule:EFC-ContextMark"/>
            <xsd:element name="contser" type="EfcModule:ContractSerialNumber"/>
            <xsd:element name="contval" type="EfcModule:ContractValidity"/>
            <xsd:element name="contveh" type="EfcModule:ContractVehicle"/>
            <xsd:element name="contauth" type="EfcModule:ContractAuthenticator"/>
            <xsd:element name="recspt" type="EfcModule:ReceiptServicePart"/>
            <xsd:element name="sessioncls" type="EfcModule:SessionClass"/>
            <xsd:element name="recservserialno" type="EfcModule:ReceiptServiceSerialNumber"/>
            <xsd:element name="recfinptENV" type="asn1:NULL"/>
            <xsd:element name="reccont" type="EfcModule:ReceiptContract"/>
            <xsd:element name="recOBUId" type="EfcModule:ReceiptOBUId"/>
            <xsd:element name="recICCId" type="EfcModule:ReceiptICC-Id"/>
            <xsd:element name="rectext" type="EfcModule:ReceiptText"/>
            <xsd:element name="recauth" type="EfcModule:ReceiptAuthenticator"/>
            <xsd:element name="recdist" type="EfcModule:ReceiptDistance"/>
            <xsd:element name="vehlpn" type="EfcModule:LPN"/>
            <xsd:element name="vehid" type="AVIAEINumberingAndDataStructures:CS5"/>
            <xsd:element name="vehclass" type="EfcModule:VehicleClass"/>
            <xsd:element name="vehdims" type="EfcModule:VehicleDimensions"/>
            <xsd:element name="vehaxles" type="EfcModule:VehicleAxles"/>
            <xsd:element name="vehwtlims" type="EfcModule:VehicleWeightLimits"/>
            <xsd:element name="vehwtladen" type="EfcModule:VehicleWeightLaden"/>
            <xsd:element name="vehspchars" type="EfcModule:VehicleSpecificCharacteristics"/>
            <xsd:element name="vehauth" type="EfcModule:VehicleAuthenticator"/>
            <xsd:element name="equOBUId" type="EfcModule:EquipmentOBUId"/>
            <xsd:element name="equICCId" type="EfcModule:ICC-Id"/>
            <xsd:element name="equstat" type="EfcModule:EquipmentStatus"/>
            <xsd:element name="dvrchars" type="EfcModule:DriverCharacteristics"/>
            <xsd:element name="paymeansENV" type="asn1:NULL"/>
            <xsd:element name="paymbal" type="EfcModule:PaymentMeansBalance"/>
            <xsd:element name="paymunit" type="EfcModule:PaymentMeansUnit"/>
            <xsd:element name="paysecdata" type="EfcModule:PaymentSecurityData"/>
            <xsd:element name="paymeans" type="EfcModule:PaymentMeans"/>
            <xsd:element name="recdata1" type="EfcModule:ReceiptData1"/>
            <xsd:element name="recdata2" type="EfcModule:ReceiptData2"/>
            <xsd:element name="valofcon" type="EfcModule:ValidityOfContract"/>
            <xsd:element name="recfinpt" type="EfcModule:ReceiptFinancialPart"/>
            <xsd:element name="setmmirq" type="EfcModule:SetMMIRq"/>
            <xsd:element name="awl" type="EfcModule:AxleWeightLimits"/>
            <xsd:element name="paca" type="EfcModule:PassengerCapacity"/>
            <xsd:element name="eng" type="EfcModule:Engine"/>
            <xsd:element name="sl" type="EfcModule:SoundLevel"/>
            <xsd:element name="eev" type="EfcModule:ExhaustEmissionValues"/>
            <xsd:element name="dev" type="EfcModule:DieselEmissionValues"/>
            <xsd:element name="co2ev" type="EfcModule:CO2EmissionValue"/>
            <xsd:element name="vtd" type="EfcModule:VehicleTotalDistance"/>
            <xsd:element name="tlpn" type="EfcModule:TrailerLicencePlateNumber"/>
            <xsd:element name="tch" type="EfcModule:TrailerCharacteristics"/>
            <xsd:element name="anp" type="EfcModule:ActualNumberOfPassengers"/>
            <xsd:element name="rfuCenISO48" type="asn1:NULL"/>
            <xsd:element name="rfuCenISO49" type="asn1:NULL"/>
            <xsd:element name="rfuCenISO50" type="asn1:NULL"/>
            <xsd:element name="rfuCenISO51" type="asn1:NULL"/>
            <xsd:element name="rfuCenISO52" type="asn1:NULL"/>
            <xsd:element name="rfuCenISO53" type="asn1:NULL"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="ApplicationContextMark">
        <xsd:complexContent>
            <xsd:extension base="Container"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ApplicationList">
        <xsd:sequence minOccurs="0" maxOccurs="127">
            <xsd:element name="SEQUENCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="aid" type="DSRCApplicationEntityID"/>
                        <xsd:element name="eid" minOccurs="0" type="Dsrc-EID"/>
                        <xsd:element name="parameter" minOccurs="0" type="ApplicationContextMark"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BST">
        <xsd:sequence>
            <xsd:element name="rsu" type="BeaconID"/>
            <xsd:element name="time" type="Time"/>
            <xsd:element name="profile" type="Profile"/>
            <xsd:element name="mandApplications" type="ApplicationList"/>
            <xsd:element name="nonmandApplications" minOccurs="0" type="ApplicationList"/>
            <xsd:element name="profileList">
                <xsd:simpleType>
                    <xsd:restriction>
                        <xsd:simpleType>
                            <xsd:list itemType="Profile"/>
                        </xsd:simpleType>
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>