src/main/resources/xsdFiles/EFCInfoExchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/EFCInfoExchange"
            targetNamespace="http://tsystems.com/gw/ws/iso/EFCInfoExchange"
            xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:DSRCData="http://tsystems.com/gw/ws/iso/DSRCData"
            xmlns:ChargingModule="http://tsystems.com/gw/ws/iso/ChargingModule"
            xmlns:ContextDataModule="http://tsystems.com/gw/ws/iso/ContextDataModule"
            xmlns:RoamingModule="http://tsystems.com/gw/ws/iso/RoamingModule"
            xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/DSRCData"
                schemaLocation="DSRCData.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/ChargingModule"
                schemaLocation="ChargingModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/ContextDataModule"
                schemaLocation="ContextDataModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
                schemaLocation="AVIAEINumberingAndDataStructures.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/RoamingModule"
                schemaLocation="RoamingModule.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <!-- PDU definition -->
    <xsd:element name="infoExchange" type="InfoExchange"/>
    <xsd:complexType name="InfoExchange">
        <xsd:sequence>
            <xsd:element name="infoExchangeContent" type="InfoExchangeContent"/>
            <xsd:element name="infoExchangeAuthenticator" minOccurs="0" type="MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- PDU definition -->
    <xsd:element name="chargeLocation" type="ChargeLocation"/>
    <xsd:complexType name="ChargeLocation">
        <xsd:sequence>
            <xsd:element name="description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="chargePointId" type="LocationOfStation"/>
            <xsd:element name="chargePoint" minOccurs="0" type="ContextDataModule:AbsolutePointCoordinates"/>
            <xsd:element name="cpLocation" type="EfcModule:SessionLocation"/>
            <xsd:element name="eventType" type="SessionType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="FeeQualifier">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="standardCharge"/>
            <xsd:enumeration value="tollSubstitute"/>
            <xsd:enumeration value="belatedPayment"/>
            <xsd:enumeration value="reimbursement"/>
            <xsd:enumeration value="refForFutureUse1"/>
            <xsd:enumeration value="refForFutureUse2"/>
            <xsd:enumeration value="refForFutureUse3"/>
            <xsd:enumeration value="refForFutureUse4"/>
            <xsd:enumeration value="refForFutureUse5"/>
            <xsd:enumeration value="refForPrivateUse1"/>
            <xsd:enumeration value="refForPrivateUse2"/>
            <xsd:enumeration value="refForPrivateUse3"/>
            <xsd:enumeration value="refForPrivateUse4"/>
            <xsd:enumeration value="refForPrivateUse5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="LanguageID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="AduType">
        <xsd:choice>
            <xsd:element name="requestADU" type="xsd:string"/>
            <xsd:element name="ackADU" type="xsd:string"/>
            <xsd:element name="trustObjectADU" type="xsd:string"/>
            <xsd:element name="efcContextDataADU" type="xsd:string"/>
            <xsd:element name="exceptionListADU" type="xsd:string"/>
            <xsd:element name="reportAbnormalOBEADU" type="xsd:string"/>
            <xsd:element name="tollDeclarationADU" type="xsd:string"/>
            <xsd:element name="billingDetailsADU" type="xsd:string"/>
            <xsd:element name="paymentClaimADU" type="xsd:string"/>
            <xsd:element name="reportQAADU" type="xsd:string"/>
            <xsd:element name="statusADU" type="StatusADU"/>
            <xsd:element name="retrieveUserDetailsADU" type="xsd:string"/>
            <xsd:element name="provideUserDetailsADU" type="xsd:string"/>
            <xsd:element name="reportCCCEventADU" type="xsd:string"/>
            <xsd:element name="retrieveTollDeclarationADU" type="xsd:string"/>
            <xsd:element name="retrieveCCCEvents" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="GeneralStatusCode">
        <xsd:choice>
            <xsd:element name="notReadyToReceive" type="xsd:string"/>
            <xsd:element name="readyToReceive" type="xsd:string"/>
            <xsd:element name="refForFutureUse1" type="xsd:string"/>
            <xsd:element name="refForFutureUse2" type="xsd:string"/>
            <xsd:element name="refForFutureUse3" type="xsd:string"/>
            <xsd:element name="refForFutureUse4" type="xsd:string"/>
            <xsd:element name="refForFutureUse5" type="xsd:string"/>
            <xsd:element name="refForPrivateUse1" type="xsd:string"/>
            <xsd:element name="refForPrivateUse2" type="xsd:string"/>
            <xsd:element name="refForPrivateUse3" type="xsd:string"/>
            <xsd:element name="refForPrivateUse4" type="xsd:string"/>
            <xsd:element name="refForPrivateUse5" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="MessageReasonCode">
        <xsd:choice>
            <xsd:element name="obsoleteADU" type="xsd:string"/>
            <xsd:element name="aDUOK" type="xsd:string"/>
            <xsd:element name="aDUNotOK" type="xsd:string"/>
            <xsd:element name="refForFutureUse1" type="xsd:string"/>
            <xsd:element name="refForFutureUse2" type="xsd:string"/>
            <xsd:element name="refForFutureUse3" type="xsd:string"/>
            <xsd:element name="refForFutureUse4" type="xsd:string"/>
            <xsd:element name="refForFutureUse5" type="xsd:string"/>
            <xsd:element name="refForPrivateUse1" type="xsd:string"/>
            <xsd:element name="refForPrivateUse2" type="xsd:string"/>
            <xsd:element name="refForPrivateUse3" type="xsd:string"/>
            <xsd:element name="refForPrivateUse4" type="xsd:string"/>
            <xsd:element name="refForPrivateUse5" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:simpleType name="ADUReasonCode">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="trustObjectExpired"/>
                    <xsd:enumeration value="trustObjectUnreadable"/>
                    <xsd:enumeration value="claimRejectedByTSP"/>
                    <xsd:enumeration value="claimApprovedByTSP"/>
                    <xsd:enumeration value="reportQAAccepted"/>
                    <xsd:enumeration value="reportQANotAccepted"/>
                    <xsd:enumeration value="paymentGuaranteeAccepted"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="UserStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noContractualRelation"/>
                    <xsd:enumeration value="standardPrivateUserContract"/>
                    <xsd:enumeration value="standardCommercialUserContract"/>
                    <xsd:enumeration value="tempExceptionListed"/>
                    <xsd:enumeration value="permanentExceptionListed"/>
                    <xsd:enumeration value="contractClosed"/>
                    <xsd:enumeration value="noStatus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="UserParameterRequest">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="userPostalAddress"/>
                    <xsd:enumeration value="contractSerialNumber"/>
                    <xsd:enumeration value="contractValidity"/>
                    <xsd:enumeration value="driverCharacteristics"/>
                    <xsd:enumeration value="eFC-ContextMark"/>
                    <xsd:enumeration value="environmentalCharacteristics"/>
                    <xsd:enumeration value="engineCharacteristics"/>
                    <xsd:enumeration value="equipmentOBUId"/>
                    <xsd:enumeration value="equipmentStatus"/>
                    <xsd:enumeration value="paymentMeans"/>
                    <xsd:enumeration value="paymentMeansBalance"/>
                    <xsd:enumeration value="paymentMeansUnit"/>
                    <xsd:enumeration value="personalAccountNumber"/>
                    <xsd:enumeration value="provider"/>
                    <xsd:enumeration value="receiptContract"/>
                    <xsd:enumeration value="validityOfContract"/>
                    <xsd:enumeration value="vehicleAuthenticator"/>
                    <xsd:enumeration value="vehicleClass"/>
                    <xsd:enumeration value="vehicleDimensions"/>
                    <xsd:enumeration value="vehicleLicencePlateNumber"/>
                    <xsd:enumeration value="vehicleIdentificationNumber"/>
                    <xsd:enumeration value="vehicleWeightLaden"/>
                    <xsd:enumeration value="vehicleWeightLimits"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <!--<xsd:simpleType name="UserDetailsRequestReason">-->
    <!--<xsd:union>-->
    <!--<xsd:simpleType>-->
    <!--<xsd:restriction base="xsd:token">-->
    <!--<xsd:enumeration value="generalInterest"/>-->
    <!--<xsd:enumeration value="allowingCalculatingFee"/>-->
    <!--<xsd:enumeration value="incompleteCCCreadout"/>-->
    <!--<xsd:enumeration value="forwardingEnforcementTicket"/>-->
    <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->
    <!--<xsd:simpleType>-->
    <!--<xsd:restriction base="xsd:integer">-->
    <!--<xsd:minInclusive value="0"/>-->
    <!--<xsd:maxInclusive value="3"/>-->
    <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->
    <!--</xsd:union>-->
    <!--</xsd:simpleType>-->

    <xsd:simpleType name="UserDetailsRequestReason">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="UserParameterStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="userParameterAvailable"/>
                    <xsd:enumeration value="notAvailable"/>
                    <xsd:enumeration value="localPrivacyRules"/>
                    <xsd:enumeration value="missingContractualAgreement"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="InitiatedAction">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="vehicleWasStopped"/>
                    <xsd:enumeration value="violationCaseIndicated"/>
                    <xsd:enumeration value="evidenceDataGathered"/>
                    <xsd:enumeration value="putOnTSPExceptionList"/>
                    <xsd:enumeration value="putOnTCExceptionList"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="TransactionStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="completed"/>
                    <xsd:enumeration value="abortedAfterFirstPhase"/>
                    <xsd:enumeration value="abortedAfterSecondPhase"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="AuthCheckResult">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="notChecked"/>
                    <xsd:enumeration value="oK"/>
                    <xsd:enumeration value="nOK"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="ListOfTrustObjectTypes">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="certificate"/>
                    <xsd:enumeration value="symmetricKey"/>
                    <xsd:enumeration value="cRL"/>
                    <xsd:enumeration value="cDP"/>
                    <xsd:enumeration value="oCSP"/>
                    <xsd:enumeration value="encryptedSymmetricKey"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="ListOfTrustObjectPurposes">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="trustObjects"/>
                    <xsd:enumeration value="dSRCCharging"/>
                    <xsd:enumeration value="dSRCAC"/>
                    <xsd:enumeration value="oBEInterrogation"/>
                    <xsd:enumeration value="oBEInterrogationAC"/>
                    <xsd:enumeration value="sIGExceptionList"/>
                    <xsd:enumeration value="sIGContextData"/>
                    <xsd:enumeration value="sIGBillingDetails"/>
                    <xsd:enumeration value="sIGFiscalObjects"/>
                    <xsd:enumeration value="sIGCommunication"/>
                    <xsd:enumeration value="eNCCommunication"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="TrustObjectStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="valid"/>
                    <xsd:enumeration value="expired"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="QualityParameterStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="accordingToAgreedMeasuremtMethodology"/>
                    <xsd:enumeration value="measuredAsShortTermSample"/>
                    <xsd:enumeration value="longTermAverage"/>
                    <xsd:enumeration value="singleWorstValue"/>
                    <xsd:enumeration value="trendWarning"/>
                    <xsd:enumeration value="initiateActions"/>
                    <xsd:enumeration value="escalationWarning"/>
                    <xsd:enumeration value="escalationWasActivated"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="ExceptionListType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="blacklist"/>
                    <xsd:enumeration value="whitelist"/>
                    <xsd:enumeration value="greylist"/>
                    <xsd:enumeration value="blackListIncrementalUpdate"/>
                    <xsd:enumeration value="whiteListIncrementalUpdate"/>
                    <xsd:enumeration value="greyListIncrementalUpdate"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="1|2|4|5"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="ExceptionListBlockType">
        <xsd:choice>
            <xsd:element name="allApplications" type="xsd:string"/>
            <xsd:element name="locallyBlocked" type="xsd:string"/>
            <xsd:element name="blockedForSchemesRequiringOdometer" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="ExceptionListReasonType">
        <xsd:choice>
            <xsd:element name="notToBeDisclosed" type="xsd:string"/>
            <xsd:element name="obeDeactivated" type="xsd:string"/>
            <xsd:element name="obeIsStolen" type="xsd:string"/>
            <xsd:element name="temporaryTechnicalProblem" type="xsd:string"/>
            <xsd:element name="suspicionOnTechnicalManipulation" type="xsd:string"/>
            <xsd:element name="latePayment" type="xsd:string"/>
            <xsd:element name="noPayment" type="xsd:string"/>
            <xsd:element name="contractHolderInsolvent" type="xsd:string"/>
            <xsd:element name="normalUser" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>


    <xsd:complexType name="ObeId">
        <xsd:sequence>
            <xsd:element nillable="true" name="manufacturerId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"></xsd:minInclusive>
                        <xsd:maxInclusive value="65535"></xsd:maxInclusive>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="equipmentOBUId" type="EfcModule:EquipmentOBUId"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="AbnormalOBEReasonCode">
        <xsd:sequence minOccurs="1" maxOccurs="5">
            <xsd:element name="AbnormalOBEReasonCode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>




    <xsd:simpleType name="PaymentClaimStatus">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="firstVersion"/>
                    <xsd:enumeration value="firstAmendedVersion"/>
                    <xsd:enumeration value="amendedVersion"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="TypeOfGoods">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="toll"/>
                    <xsd:enumeration value="discount"/>
                    <xsd:enumeration value="creditnote"/>
                    <xsd:enumeration value="penalty"/>
                    <xsd:enumeration value="processingFee"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="LocationOfStation">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="SessionType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="accessClosedSystem"/>
                    <xsd:enumeration value="exitClosedSystem"/>
                    <xsd:enumeration value="openSystem"/>
                    <xsd:enumeration value="checkPoint"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="ExemptedVehicleClasses">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="handicappedPeople"/>
                    <xsd:enumeration value="military"/>
                    <xsd:enumeration value="police"/>
                    <xsd:enumeration value="roadMaintenance"/>
                    <xsd:enumeration value="circusTruck"/>
                    <xsd:enumeration value="mobileShopTruck"/>
                    <xsd:enumeration value="truckCarryingMilk"/>
                    <xsd:enumeration value="truckCarryingTimber"/>
                    <xsd:enumeration value="publicTransportBus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="TimeInterval">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="day"/>
                    <xsd:enumeration value="week"/>
                    <xsd:enumeration value="month"/>
                    <xsd:enumeration value="year"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="RecordType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="cCCRecord"/>
            <xsd:enumeration value="imageRecord"/>
            <xsd:enumeration value="aNPRRecord"/>
            <xsd:enumeration value="classificationRecord"/>
            <xsd:enumeration value="operatorRecord"/>
            <xsd:enumeration value="dsrcData"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DataSetId">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="LayerId">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="SectionId">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="ObjectId">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="VersionNumberId">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="NumberOfADUStruct">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"></xsd:minInclusive>
            <xsd:maxInclusive value="1"></xsd:maxInclusive>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MessageAuthenticator">
        <xsd:restriction base="asn1:BitString"/>
    </xsd:simpleType>

    <xsd:simpleType name="SubRecordAuthenticator">
        <xsd:restriction base="asn1:BitString"/>
    </xsd:simpleType>

    <xsd:simpleType name="MessageIdentifier">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RegimeID">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:simpleType name="TrustObjectCode">
        <xsd:restriction base="asn1:BitString"/>
    </xsd:simpleType>

    <xsd:simpleType name="ExceptionListVersion">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:complexType name="RelatedMessageId">
        <xsd:sequence>
            <xsd:element name="messageOriginator" type="EfcModule:Provider"/>
            <xsd:element name="messageIdentifier" type="MessageIdentifier"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ApciFields">
        <xsd:sequence>
            <xsd:element name="messageOriginator" minOccurs="1" maxOccurs="1" type="EfcModule:Provider"/>
            <xsd:element name="informationSenderID" minOccurs="1" maxOccurs="1" type="EfcModule:Provider"/>
            <xsd:element name="informationrecipientID" minOccurs="1" maxOccurs="1" type="EfcModule:Provider"/>
            <xsd:element name="contextID" minOccurs="0" type="RegimeID"/>
            <xsd:element name="messageIdentifier" type="MessageIdentifier"/>
            <xsd:element name="relatedMessageId" minOccurs="0" type="RelatedMessageId"/>
            <xsd:element name="aduType" type="AduType"/>
            <xsd:element name="numberofStructs" type="NumberOfADUStruct"/>
            <xsd:element name="messageDate" type="asn1:GeneralizedTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RequestADU">
        <xsd:sequence>
            <xsd:element name="requestedADUType" minOccurs="0" type="AduType"/>
            <xsd:element name="aDUIdentifier" minOccurs="0" type="MessageIdentifier"/>
            <!--<xsd:element name="numberOfADUStructs" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="NumberOfADUStruct"/>
                </xsd:simpleType>
            </xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AckADU">
        <xsd:sequence>
            <xsd:element name="aDUIdentifier" type="MessageIdentifier"/>
            <xsd:element name="numberOfADUStructs" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="NumberOfADUStruct"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ackCode" type="MessageReasonCode"/>
            <xsd:element name="aduCode" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="numberOfADUStruct" type="NumberOfADUStruct"/>
                                    <xsd:element name="aDUReasonCode" type="ADUReasonCode"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TrustObjectADU">
        <xsd:sequence>
            <xsd:element name="trustObjectID" type="xsd:integer"/>
            <xsd:element name="startValidity" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="endValidity" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="trustObjectStatus" type="TrustObjectStatus"/>
            <xsd:element name="typeOfTrustObject" type="ListOfTrustObjectTypes"/>
            <xsd:element name="purposesOfTrustObject">
                <xsd:simpleType>
                    <xsd:list itemType="ListOfTrustObjectPurposes"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eFCContextMark" minOccurs="0" type="EfcModule:EFC-ContextMark"/>
            <xsd:element name="keyReference" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="trustObject" type="TrustObjectCode"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GDFReference">
        <xsd:sequence>
            <xsd:element name="datasetID" type="DataSetId"/>
            <xsd:element name="layerId" type="LayerId"/>
            <xsd:element name="sectionId" type="SectionId"/>
            <xsd:element name="objectId" type="ObjectId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EFCnodeId">
        <xsd:sequence>
            <xsd:element name="eFContextSpecificId" type="xsd:integer"/>
            <xsd:element name="sectionName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="gDFspecificId" minOccurs="0" type="GDFReference"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoadElementsTowardChargePoint">
        <xsd:sequence>
            <xsd:element name="junctionIdFrom" type="GDFReference"/>
            <xsd:element name="gDFroadElement" type="GDFReference"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TollRoad">
        <xsd:sequence>
            <xsd:element name="efcNodeFrom" type="EFCnodeId"/>
            <xsd:element name="efcLink">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="roadElementsTowardChargePoint">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="RoadElementsTowardChargePoint"
                                                 type="RoadElementsTowardChargePoint"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="junctionIdTo" type="GDFReference"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="efcNnodeTo" type="EFCnodeId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GDFChargeObject">
        <xsd:sequence>
            <xsd:element name="chargeObjectId" type="ContextDataModule:ChargeObjectId"/>
            <xsd:element name="roadOperatorId" minOccurs="0" type="EfcModule:Provider"/>
            <xsd:element name="applicableLocationClass" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="applicableTimeClasses" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="ContextDataModule:TimeClassId"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="tollRelevantLength" type="ChargingModule:Distance"/>
            <xsd:element name="equivalentMeasuredLength" minOccurs="0" type="ChargingModule:Distance"/>
            <xsd:element name="tollRoad" type="TollRoad"/>
            <xsd:element name="liabilityRules">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="tollPoint" type="GDFReference"/>
                        <xsd:element name="minTollPath">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="firstPoint" type="GDFReference"/>
                                    <xsd:element name="secondPoint" type="GDFReference"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="minimumUsage">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort">
                                    <xsd:minInclusive value="1"/>
                                    <xsd:maxInclusive value="1000"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GDFSource">
        <xsd:sequence>
            <xsd:element name="dataProviderId" type="EfcModule:Provider"/>
            <xsd:element name="typeId" type="xsd:integer"/>
            <xsd:element name="versionNumberId" type="VersionNumberId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EFClayer">
        <xsd:sequence>
            <xsd:element name="eFCLayerId" type="xsd:integer"/>
            <xsd:element name="tollContextName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="chargeObjects">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="GDFChargeObject" type="GDFChargeObject"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="referencedGDFsource" type="GDFSource"/>
            <xsd:element name="eFClayerVersion" type="ContextDataModule:VersionAndValidity"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SectionTollingLayoutGDF">
        <xsd:sequence>
            <xsd:element name="efcLayer" type="EFClayer"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Amount">
        <xsd:sequence>
            <xsd:element name="netPaymentFee" type="EfcModule:PaymentFee"/>
            <xsd:element name="vATrate" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NumberOfTripsDiscount">
        <xsd:sequence>
            <xsd:element name="minNumberOfTrips" type="xsd:integer"/>
            <xsd:element name="discount" type="xsd:integer"/>
            <xsd:element name="onlyForAmountAboveLimit" minOccurs="0" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ForVehicleClass">
        <xsd:sequence>
            <xsd:element name="vehicleClass" type="xsd:integer"/>
            <xsd:element name="activationFee" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="amount" type="Amount"/>
                        <xsd:element name="timeInterval" minOccurs="0" type="TimeInterval"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="minAmountOfFee" minOccurs="0" type="Amount"/>
            <xsd:element name="numberOfTrips" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fromChargeObject" type="ContextDataModule:ChargeObjectId"/>
                        <xsd:element name="toChargeObject" type="ContextDataModule:ChargeObjectId"/>
                        <xsd:element name="perTimeClass" minOccurs="0" type="xsd:boolean"/>
                        <xsd:element name="pervehicleClass" minOccurs="0" type="xsd:boolean"/>
                        <xsd:element name="numberOfTripsDiscounts">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="NumberOfTripsDiscount" type="NumberOfTripsDiscount"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FeeModifiers">
        <xsd:sequence>
            <xsd:element name="typeOfUsage" minOccurs="0">
                <xsd:simpleType>
                    <xsd:list itemType="ExemptedVehicleClasses"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="volumeDiscounts" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="timeInterval" minOccurs="0" type="TimeInterval"/>
                                    <xsd:element name="forVehicleClasses" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xsd:element name="ForVehicleClass" type="ForVehicleClass"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EFCContextDataADU">
        <xsd:choice>
            <xsd:element name="gnssContext">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contextInterrelations" minOccurs="0" type="RoamingModule:RoamingRules"/>
                        <xsd:element name="regimeContextData">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="iso175753ADU"
                                                             type="ContextDataModule:Iso17575-3AduBody"/>
                                                <xsd:element name="gnssGDFLayout" minOccurs="0"
                                                             type="SectionTollingLayoutGDF"/>
                                                <xsd:element name="feeModifiers" minOccurs="0" type="FeeModifiers"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dsrcContext">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regimeContextData">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="iso175753ADU" type="ContextDataModule:Iso17575-3AduBody"/>
                                    <xsd:element name="feeModifiers" minOccurs="0" type="FeeModifiers"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="UserId">
        <xsd:sequence>
            <xsd:element name="pan" minOccurs="0" type="EfcModule:PersonalAccountNumber"/>
            <xsd:element name="contractSerialNumber" minOccurs="0" type="EfcModule:ContractSerialNumber"/>
            <xsd:element name="licensePlateNumber" minOccurs="0" type="EfcModule:LPN"/>
            <xsd:element name="obeID" minOccurs="0" type="ChargingModule:ObeId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExceptionListEntry">
        <xsd:sequence>
            <xsd:element name="userId" type="UserId"/>
            <xsd:element name="blockType" type="ExceptionListBlockType"/>
            <xsd:element name="reasonCode" type="ExceptionListReasonType"/>
            <xsd:element name="dateAndTime" type="asn1:GeneralizedTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExceptionListEntries">
        <xsd:sequence>
            <xsd:element name="ExceptionListEntry" minOccurs="0" maxOccurs="unbounded" type="ExceptionListEntry"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExceptionListADU">
        <xsd:sequence minOccurs="0">
            <xsd:element name="exceptionListversion" type="ExceptionListVersion"/>
            <xsd:element name="exceptionListType" type="ExceptionListType"/>
            <xsd:element name="exceptionValidityStart" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="exceptionValidityEnd" minOccurs="0" type="asn1:GeneralizedTime"/>
            <xsd:element name="exceptionListEntries" minOccurs="1" maxOccurs="1" type="ExceptionListEntries"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReportAbnormalOBEADU">
        <xsd:sequence>
            <xsd:element name="userId" type="UserId"/>
            <xsd:element name="dateAndTime" type="asn1:GeneralizedTime"/>
            <xsd:element name="abnormalOBEReasonCode" type="AbnormalOBEReasonCode">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TollDeclarationId">
        <xsd:sequence>
            <xsd:element name="issuerId" type="EfcModule:Provider"/>
            <xsd:element name="declarationId" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="gnssTollDeclarationType">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ChargeReport" type="ChargingModule:ChargeReport"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TollDeclarationADU">
        <xsd:sequence>
            <xsd:element name="tollDeclarationId" type="TollDeclarationId"/>
            <xsd:element name="gnssTollDeclaration" type="gnssTollDeclarationType">
                <!--<xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="ChargeReport" type="ChargingModule:ChargeReport"/>
                    </xsd:sequence>
                </xsd:complexType>-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Period">
        <xsd:sequence>
            <xsd:element name="startDate" type="xsd:dateTime"/>
            <xsd:element name="endDate" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UsageDetail">
        <xsd:choice>
            <xsd:element name="forSectionedRoads">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="qualifier" minOccurs="0">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="howOften" type="xsd:integer"/>
                                    <xsd:element name="entranceTime" type="xsd:dateTime"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="entranceChargeObject" type="ContextDataModule:ChargeObjectId"/>
                        <xsd:element name="entranceChargeObjectName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="intermediateSections" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="intermediateSection"
                                                             type="ContextDataModule:ChargeObjectId"/>
                                                <xsd:element name="intermediateSectionName" minOccurs="0"
                                                             type="xsd:string"/>
                                                <xsd:element name="intermediateSectionTime" minOccurs="0"
                                                             type="xsd:dateTime"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="exitQualifier">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="exitChargeObjectStruct">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="exitChargeObject"
                                                             type="ContextDataModule:ChargeObjectId"/>
                                                <xsd:element name="exitChargeObjectName" minOccurs="0"
                                                             type="xsd:string"/>
                                                <xsd:element name="exitTime" minOccurs="0" type="xsd:dateTime"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="singleChargeObject" type="xsd:boolean"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="fee" minOccurs="0" type="Amount"/>
                        <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="forTravellingInArea">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="areaDisplayName" type="xsd:string"/>
                        <xsd:element name="accumulatedDistance" type="xsd:integer"/>
                        <xsd:element name="beginOfAccumulation" minOccurs="0" type="xsd:dateTime"/>
                        <xsd:element name="endOfAccumulation" minOccurs="0" type="xsd:dateTime"/>
                        <xsd:element name="fee" minOccurs="0" type="Amount"/>
                        <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="forStayedInArea">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="areaDisplayName" type="xsd:string"/>
                        <xsd:element name="qualifier" minOccurs="0">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="howOften" type="xsd:integer"/>
                                    <xsd:element name="entranceTime" type="xsd:dateTime"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="stayedDuration" type="xsd:integer"/>
                        <xsd:element name="chargeUnit" type="ContextDataModule:ChargeUnit"/>
                        <xsd:element name="fee" minOccurs="0" type="Amount"/>
                        <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="forCordonCrossings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="qualifier" minOccurs="0">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="howOften" type="xsd:integer"/>
                                    <xsd:element name="entranceTime" type="xsd:dateTime"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="entranceChargeObject" type="ContextDataModule:CordonEntryLocation"/>
                        <xsd:element name="entranceChargeObjectName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="exitChargeObject" minOccurs="0" type="ContextDataModule:CordonExitLocation"/>
                        <xsd:element name="exitChargeObjectName" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="exitTime" minOccurs="0" type="xsd:dateTime"/>
                        <xsd:element name="fee" minOccurs="0" type="Amount"/>
                        <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="freeTextDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="textLanguage" type="LanguageID"/>
                        <xsd:element name="textDetail" type="xsd:string"/>
                        <xsd:element name="fee" minOccurs="0" type="Amount"/>
                        <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="Location">
        <xsd:sequence>
            <xsd:element name="positionOfLocation" minOccurs="0" type="ContextDataModule:Point"/>
            <xsd:element name="loocation" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="locationProviderId" type="EfcModule:Provider"/>
                        <xsd:element name="locationID" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DSRCRSEData">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:integer"/>
            <xsd:element name="rSEDateTime" type="xsd:dateTime"/>
            <xsd:element name="transactionResult" type="EfcModule:ResultOp"/>
            <xsd:element name="transactionStatus" type="TransactionStatus"/>
            <xsd:element name="exceptionListMatch" minOccurs="0" type="ExceptionListEntry"/>
            <xsd:element name="tariffID" minOccurs="0" type="ContextDataModule:TariffClassId"/>
            <xsd:element name="fee" minOccurs="0" type="Amount"/>
            <xsd:element name="feeQualifier" minOccurs="0" type="FeeQualifier"/>
            <xsd:element name="tollStationID" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="laneDirectionNumber" minOccurs="0" type="EfcModule:SessionLocation"/>
            <xsd:element name="typeOfTransaction" minOccurs="0" type="EfcModule:StationType"/>
            <xsd:element name="vstData" minOccurs="0" type="DSRCData:ObeConfiguration"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DSRCAttrAuth">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="SEQUENCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attrOrigEncoding" type="asn1:BitString"/>
                        <xsd:element name="rndRSE" type="xsd:hexBinary"/>
                        <xsd:element name="keyRef" type="xsd:integer"/>
                        <xsd:element name="authCode" type="xsd:hexBinary"/>
                        <xsd:element name="result" type="AuthCheckResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DSRCData">
        <xsd:sequence>
            <xsd:element name="dsrcRSEData" minOccurs="0" type="DSRCRSEData"/>
            <xsd:element name="dsrcAttributesRead" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Attributes" type="DSRCData:Attributes"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dsrcAttributesWritten" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="Attributes" type="DSRCData:Attributes"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="dsrcAttrAuth" minOccurs="0" type="DSRCAttrAuth"/>
            <xsd:element name="chargeObjectId" minOccurs="0" type="ContextDataModule:ChargeObjectId"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CCCEvent">
        <xsd:sequence>
            <xsd:element name="userID" minOccurs="0" type="UserId"/>
            <xsd:element name="timeOfEvent" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="locationOfEvent" minOccurs="0" type="Location"/>
            <xsd:element name="cccMessages">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="DSRCData" type="DSRCData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="initiatedActions">
                <xsd:simpleType>
                    <xsd:list itemType="InitiatedAction"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RecordId">
        <xsd:sequence>
            <xsd:element name="providerId" minOccurs="0" type="EfcModule:Provider"/>
            <xsd:element name="recordType" minOccurs="0" type="RecordType"/>
            <xsd:element name="uniqueId" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ImageRecord">
        <xsd:sequence>
            <xsd:element name="imageRecordId" type="RecordId"/>
            <xsd:element name="imageDateTime" type="xsd:dateTime"/>
            <xsd:element name="imageLocation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cameraOwner" type="EfcModule:Provider"/>
                        <xsd:element name="cameraId">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageReference" minOccurs="0" type="xsd:integer"/>
            <xsd:element name="imageData" type="asn1:BitString"/>
            <xsd:element name="subRecordAuthenticator" minOccurs="0" type="SubRecordAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ANPRRecord">
        <xsd:sequence>
            <xsd:element name="anprRecordId" type="RecordId"/>
            <xsd:element name="associatedimages">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="SEQUENCE">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="anprImage" type="RecordId"/>
                                    <xsd:element name="contextImage" type="RecordId"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageDateTime" type="xsd:dateTime"/>
            <xsd:element name="imageLocation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cameraOwner" type="EfcModule:Provider"/>
                        <xsd:element name="cameraId">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="determinedVRM">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="anprResult">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:hexBinary">
                                    <xsd:length value="14"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="anprConfidence">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedByte">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="100"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="secondaryAnprResult" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:hexBinary">
                                    <xsd:length value="14"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="manualResult" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:hexBinary">
                                    <xsd:length value="14"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="operatorId">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="vehicleDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="vehicleMake" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="vehicleModel" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="vehicleColour" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="subRecordAuthenticator" minOccurs="0" type="SubRecordAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClassificationRecord">
        <xsd:sequence>
            <xsd:element name="classificationRecordId" type="RecordId"/>
            <xsd:element name="derivedLocalClass">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="measuredParameters">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="measurementTime" type="xsd:dateTime"/>
                        <xsd:element name="measuredClass" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedByte"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredVehicleLength" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredVehicleWidth" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredVehicleHeight" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredHeightAbove1stAxle" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredVehicleAxles" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedByte">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredTrailerAxles" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedByte">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="7"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="measuredTrailerPresence" minOccurs="0" type="xsd:boolean"/>
                        <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="subRecordAuthenticator" minOccurs="0" type="SubRecordAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OperatorRecord">
        <xsd:sequence>
            <xsd:element name="operatorRecordId" type="RecordId"/>
            <xsd:element name="operatorData">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="operatorTime" type="xsd:dateTime"/>
                        <xsd:element name="operatorClass" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedByte"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="operatorId" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="operatorVRM" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:hexBinary">
                                    <xsd:length value="14"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="operatorPAN" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="operatorOBUId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="machineReadPAN" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="machineReadOBUId" minOccurs="0" type="xsd:string"/>
                        <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="subRecordAuthenticator" minOccurs="0" type="SubRecordAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssociatedEventData">
        <xsd:sequence>
            <xsd:element name="cCCRecord" minOccurs="0" type="CCCEvent"/>
            <xsd:element name="imageRecord" minOccurs="0" type="ImageRecord"/>
            <xsd:element name="aNPRRecord" minOccurs="0" type="ANPRRecord"/>
            <xsd:element name="classificationRecord" minOccurs="0" type="ClassificationRecord"/>
            <xsd:element name="operatorRecord" minOccurs="0" type="OperatorRecord"/>
            <xsd:element name="dsrcData" minOccurs="0" type="DSRCData"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BillingDetailsADU">
        <xsd:sequence>
            <xsd:element name="billingDetailsId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="issuerId" type="EfcModule:Provider"/>
                        <xsd:element name="claimId" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tollChargerId" type="EfcModule:Provider"/>
            <xsd:element name="contextId" type="RegimeID"/>
            <xsd:element name="userId" minOccurs="0" type="UserId"/>
            <xsd:element name="period" type="Period"/>
            <xsd:element name="billingDetailsAmount" type="Amount"/>
            <xsd:element name="usageDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contextName" type="xsd:string"/>
                        <xsd:element name="appliedUserClass" type="xsd:string"/>
                        <xsd:element name="perDeclaredVehicleClasses">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="declaredVehicleClass" type="xsd:string"/>
                                                <xsd:element name="perUsedTimeClasses">
                                                    <xsd:complexType>
                                                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xsd:element name="SEQUENCE">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="appliedTimeClass"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="costCenter" minOccurs="0"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="usageList">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence minOccurs="0"
                                                                                              maxOccurs="unbounded">
                                                                                    <xsd:element name="UsageDetail"
                                                                                                 type="UsageDetail"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="refTollDeclaration" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="TollDeclarationId" type="TollDeclarationId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associatedEventData" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="AssociatedEventData" type="AssociatedEventData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PaymentClaimADU">
        <xsd:sequence>
            <xsd:element name="paymentClaimId" type="xsd:integer"/>
            <xsd:element name="startDateTime" type="xsd:dateTime"/>
            <xsd:element name="endDateTime" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="userId" minOccurs="0" type="UserId"/>
            <xsd:element name="paymentClaimAmount" type="Amount"/>
            <xsd:element name="paymentClaimStatus" type="PaymentClaimStatus"/>
            <xsd:element name="typeOfGoods" minOccurs="0" type="TypeOfGoods"/>
            <xsd:element name="associatedBillingDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RelatedMessageId" type="RelatedMessageId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReportQAADU">
        <xsd:sequence>
            <xsd:element name="qualityParameterID" type="xsd:integer"/>
            <xsd:element name="qualityParameterName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="qualityParameterValue" minOccurs="0" type="xsd:double"/>
            <xsd:element name="qualityParameterStatus" type="QualityParameterStatus"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StatusADU">
        <xsd:choice>
            <xsd:element name="generalStatusCode" type="GeneralStatusCode"/>
            <xsd:element name="messageStatusCode" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="MessageIdentifier"/>
                        <xsd:element name="reasonOfADUStruct">
                            <xsd:complexType>
                                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="SEQUENCE">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="numberOfADUStruct" type="NumberOfADUStruct"/>
                                                <xsd:element name="reason" type="MessageReasonCode"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="ListOfParametersRequested">
        <xsd:sequence minOccurs="1" maxOccurs="7">
            <xsd:element name="UserParameterRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveUserDetails">
        <xsd:sequence>
            <xsd:element name="userId" type="UserId"/>
            <xsd:element name="listOfParametersRequested" minOccurs="1" type="ListOfParametersRequested"/>
            <xsd:element name="userDetailsRequestReason" minOccurs="0" type="UserDetailsRequestReason"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveUserDetailsADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="RetrieveUserDetails" type="RetrieveUserDetails"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="name">
        <xsd:sequence>
            <xsd:element name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UserPostalAddress">
        <xsd:sequence>
            <xsd:element name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="company" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="street" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postcode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="town" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="country">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!-- <xsd:any namespace="##other" processContents="lax" minOccurs="0"/> -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UserParameterResponseDetails">
        <xsd:choice>
            <xsd:element name="userPostalAddress" type="UserPostalAddress"/>
            <xsd:element name="contractSerialNumber" type="EfcModule:ContractSerialNumber"/>
            <xsd:element name="contractValidity" type="EfcModule:ContractValidity"/>
            <xsd:element name="driverCharacteristics" type="EfcModule:DriverCharacteristics"/>
            <xsd:element name="eFC-ContextMark" type="EfcModule:EFC-ContextMark"/>
            <xsd:element name="environmentalCharacteristics" type="EfcModule:EnvironmentalCharacteristics"/>
            <xsd:element name="engineCharacteristics" type="EfcModule:EngineCharacteristics"/>
            <xsd:element name="equipmentOBUId" type="EfcModule:EquipmentOBUId"/>
            <xsd:element name="equipmentStatus" type="EfcModule:EquipmentStatus"/>
            <xsd:element name="paymentMeans" type="EfcModule:PaymentMeans"/>
            <xsd:element name="paymentMeansBalance" type="EfcModule:PaymentMeansBalance"/>
            <xsd:element name="paymentMeansUnit" type="EfcModule:PaymentMeansUnit"/>
            <xsd:element name="personalAccountNumber" type="EfcModule:PersonalAccountNumber"/>
            <xsd:element name="provider" type="EfcModule:Provider"/>
            <xsd:element name="receiptContract" type="EfcModule:ReceiptContract"/>
            <xsd:element name="validityOfContract" type="EfcModule:ValidityOfContract"/>
            <xsd:element name="vehicleAuthenticator" type="EfcModule:VehicleAuthenticator"/>
            <xsd:element name="vehicleClass" type="EfcModule:VehicleClass"/>
            <xsd:element name="vehicleDimensions" type="EfcModule:VehicleDimensions"/>
            <xsd:element name="vehicleLicencePlateNumber" type="EfcModule:VehicleLicencePlateNumber"/>
            <xsd:element name="vehicleIdentificationNumber" type="EfcModule:VehicleIdentificationNumber"/>
            <xsd:element name="vehicleWeightLaden" type="EfcModule:VehicleWeightLaden"/>
            <xsd:element name="vehicleWeightLimits" type="EfcModule:VehicleWeightLimits"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="UserParameterResponse">
        <xsd:sequence>
            <xsd:element name="userParameterResponse" type="UserParameterResponseDetails"/>
            <xsd:element name="userParameterStatus" type="UserParameterStatus"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="listOfUserParameters">
        <xsd:sequence minOccurs="1" maxOccurs="7">
            <xsd:element name="UserParameterResponse" type="UserParameterResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProvideUserDetails">
        <xsd:sequence>
            <xsd:element name="originaluserIdRequest" type="UserId"/>
            <xsd:element name="userId" type="UserId"/>
            <xsd:element name="statusFlag" minOccurs="0" type="UserStatus"/>
            <xsd:element name="listOfUserParameters" minOccurs="0" maxOccurs="1" type="listOfUserParameters"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProvideUserDetailsADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ProvideUserDetails" type="ProvideUserDetails"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReportCCCEventADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CCCEvent" type="CCCEvent"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveTollDeclarations">
        <xsd:sequence>
            <xsd:element name="userID" minOccurs="0" type="UserId"/>
            <xsd:element name="startTime" minOccurs="1" type="asn1:GeneralizedTime"/>
            <xsd:element name="endTime" minOccurs="1" type="asn1:GeneralizedTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveTollDeclarationADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="RetrieveTollDeclarations" type="RetrieveTollDeclarations"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveCCCEvents">
        <xsd:sequence>
            <xsd:element name="userID" minOccurs="0" type="UserId"/>
            <xsd:element name="startTime" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="endTime" minOccurs="0" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RetrieveCCCEventADU">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="RetrieveCCCEvents" type="RetrieveCCCEvents"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="aduType">
        <xsd:choice>
            <xsd:element name="requestADU" type="RequestADU"/>
            <xsd:element name="ackADU" type="AckADU"/>
            <xsd:element name="trustObjectADU" type="TrustObjectADU"/>
            <xsd:element name="efcContextDataADU" type="EFCContextDataADU"/>
            <xsd:element name="exceptionListADU" type="ExceptionListADU"/>
            <xsd:element name="reportAbnormalOBEADU" type="ReportAbnormalOBEADU"/>
            <xsd:element name="tollDeclarationADU" type="TollDeclarationADU"/>
            <xsd:element name="billingDetailsADU" type="BillingDetailsADU"/>
            <xsd:element name="paymentClaimADU" type="PaymentClaimADU"/>
            <xsd:element name="reportQAADU" type="ReportQAADU"/>
            <xsd:element name="statusADU" type="StatusADU"/>
            <xsd:element name="retrieveUserDetailsADU" type="RetrieveUserDetailsADU"/>
            <xsd:element name="provideUserDetailsADU" type="ProvideUserDetailsADU"/>
            <xsd:element name="reportCCCEventADU" type="ReportCCCEventADU"/>
            <xsd:element name="retrieveTollDeclarationADU" type="RetrieveTollDeclarationADU"/>
            <xsd:element name="retrieveCCCEventADU" type="RetrieveCCCEventADU"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="InfoExchangeContent">
        <xsd:sequence>
            <xsd:element name="apci" type="ApciFields"/>
            <xsd:element name="adu" type="aduType"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>