src/main/resources/xsdFiles/EfcModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/EfcModule"
            targetNamespace="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:AVIAEINumberingAndDataStructures="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"

            xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/AVIAEINumberingAndDataStructures"
                schemaLocation="AVIAEINumberingAndDataStructures.xsd"/>

    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>


    <xsd:complexType name="GetStampedRq">
        <xsd:sequence>
            <xsd:element name="attributeIdList" type="xsd:string"/>
            <xsd:element name="nonce" type="xsd:hexBinary"/>
            <xsd:element name="keyRef">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetStampedRs">
        <xsd:sequence>
            <xsd:element name="attributeList" type="xsd:string"/>
            <xsd:element name="authenticator" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SetStampedRq">
        <xsd:sequence>
            <xsd:element name="attributeList" type="xsd:string"/>
            <xsd:element name="nonce" type="xsd:hexBinary"/>
            <xsd:element name="keyRef">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetInstanceRq">
        <xsd:sequence>
            <xsd:element name="posOfFirstInstance">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="posOfLastInstance">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="attributeIdList" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetInstanceRs">
        <xsd:sequence minOccurs="0" maxOccurs="127">
            <xsd:element name="SEQUENCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attributeId">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedInt">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="127"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="attributeValues" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SetInstanceRq">
        <xsd:sequence>
            <xsd:element name="posOfInstance">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="attribute" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ChannelId">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="obu"/>
                    <xsd:enumeration value="sam1"/>
                    <xsd:enumeration value="sam2"/>
                    <xsd:enumeration value="icc"/>
                    <xsd:enumeration value="display"/>
                    <xsd:enumeration value="buzzer"/>
                    <xsd:enumeration value="printer"/>
                    <xsd:enumeration value="serialInterface"/>
                    <xsd:enumeration value="parallelInterface"/>
                    <xsd:enumeration value="gPS"/>
                    <xsd:enumeration value="tachograph"/>
                    <xsd:enumeration value="privateUse1"/>
                    <xsd:enumeration value="privateUse2"/>
                    <xsd:enumeration value="privateUse3"/>
                    <xsd:enumeration value="privateUse4"/>
                    <xsd:enumeration value="privateUse5"/>
                    <xsd:enumeration value="bluetooth"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="ChannelRq">
        <xsd:sequence>
            <xsd:element name="channelId" type="ChannelId"/>
            <xsd:element name="apdu" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChannelRs">
        <xsd:sequence>
            <xsd:element name="channelId" type="ChannelId"/>
            <xsd:element name="apdu" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CopyRq">
        <xsd:sequence>
            <xsd:element name="destinationEID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="attributeIdList" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SubRq">
        <xsd:sequence>
            <xsd:element name="attributeId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddRq">
        <xsd:sequence>
            <xsd:element name="attributeId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Int2">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:simpleType name="PayUnit">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PaymentFee">
        <xsd:sequence>
            <xsd:element name="paymentFeeAmount" type="Int2"/>
            <xsd:element name="paymentFeeUnit" type="PayUnit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DebitRq">
        <xsd:sequence>
            <xsd:element name="debitPaymentFee" type="PaymentFee"/>
            <xsd:element name="nonce" type="xsd:hexBinary"/>
            <xsd:element name="keyRef">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ResultFin">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DebitRs">
        <xsd:sequence>
            <xsd:element name="debitResult" type="ResultFin"/>
            <xsd:element name="debitAuthenticator" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreditRq">
        <xsd:sequence>
            <xsd:element name="refund" type="PaymentFee"/>
            <xsd:element name="nonce" type="xsd:hexBinary"/>
            <xsd:element name="key">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreditRs">
        <xsd:sequence>
            <xsd:element name="creditResult" type="ResultFin"/>
            <xsd:element name="creditAuthenticator" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Provider">
        <xsd:sequence>
            <xsd:element name="countryCode" type="AVIAEINumberingAndDataStructures:CountryCode"/>
            <xsd:element name="providerIdentifier" minOccurs="1" nillable="true" type="AVIAEINumberingAndDataStructures:IssuerIdentifier"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EFC-ContextMark">
<xsd:sequence>
   <xsd:element name="contractProvider" type="Provider"/>
   <xsd:element name="typeOfContract">
       <xsd:simpleType>
           <xsd:restriction base="xsd:hexBinary">
               <xsd:length value="2"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
   <xsd:element name="contextVersion">
       <xsd:simpleType>
           <xsd:restriction base="xsd:unsignedInt">
               <xsd:minInclusive value="0"/>
               <xsd:maxInclusive value="127"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="Int4">
<xsd:restriction base="xsd:unsignedInt"/>
</xsd:simpleType>

<xsd:simpleType name="ContractSerialNumber">
<xsd:restriction base="xsd:integer">
   <xsd:minInclusive value="0"/>
   <xsd:maxInclusive value="4294967295"/>
   <xsd:pattern value="[0-9]+"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DateCompact">
<xsd:sequence>
   <xsd:element name="year">
       <xsd:simpleType>
           <xsd:restriction base="xsd:unsignedShort">
               <xsd:minInclusive value="1990"/>
               <xsd:maxInclusive value="2117"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
   <xsd:element name="month">
       <xsd:simpleType>
           <xsd:restriction base="xsd:unsignedByte">
               <xsd:minInclusive value="0"/>
               <xsd:maxInclusive value="12"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
   <xsd:element name="day">
       <xsd:simpleType>
           <xsd:restriction base="xsd:unsignedByte">
               <xsd:minInclusive value="0"/>
               <xsd:maxInclusive value="31"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ContractValidity">
<xsd:sequence>
   <xsd:element name="contractRestrictions">
       <xsd:simpleType>
           <xsd:restriction base="xsd:hexBinary">
               <xsd:length value="4"/>
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:element>
   <xsd:element name="contractExpiryDate" type="DateCompact"/>
</xsd:sequence>
</xsd:complexType>

<!--<xsd:complexType name="LPN">-->
        <!--<xsd:sequence>-->
            <!--<xsd:element name="countryCode" type="AVIAEINumberingAndDataStructures:CountryCode"/>-->
            <!--<xsd:element name="alphabetIndicator">-->
                <!--<xsd:simpleType>-->
                    <!--<xsd:restriction base="xsd:token">-->
                        <!--<xsd:enumeration value="latinAlphabetNo1"/>-->
                        <!--<xsd:enumeration value="latinAlphabetNo2"/>-->
                        <!--<xsd:enumeration value="latinAlphabetNo3"/>-->
                        <!--<xsd:enumeration value="latinAlphabetNo4"/>-->
                        <!--<xsd:enumeration value="latinCyrillicAlphabet"/>-->
                        <!--<xsd:enumeration value="latinArabicAlphabet"/>-->
                        <!--<xsd:enumeration value="latinGreekAlphabet"/>-->
                        <!--<xsd:enumeration value="latinHebrewAlphabet"/>-->
                        <!--<xsd:enumeration value="latinAlphabetNo5"/>-->
                        <!--<xsd:enumeration value="latinAlphabetNo6"/>-->
                        <!--<xsd:enumeration value="twoOctetBMP"/>-->
                        <!--<xsd:enumeration value="fourOctetCanonical"/>-->
                        <!--<xsd:enumeration value="reservedForUse1"/>-->
                        <!--<xsd:enumeration value="reservedForUse2"/>-->
                        <!--<xsd:enumeration value="reservedForUse3"/>-->
                        <!--<xsd:enumeration value="reservedForUse4"/>-->
                        <!--<xsd:enumeration value="reservedForUse5"/>-->
                        <!--<xsd:enumeration value="reservedForUse6"/>-->
                        <!--<xsd:enumeration value="reservedForUse7"/>-->
                        <!--<xsd:enumeration value="reservedForUse8"/>-->
                        <!--<xsd:enumeration value="reservedForUse9"/>-->
                        <!--<xsd:enumeration value="reservedForUse10"/>-->
                        <!--<xsd:enumeration value="reservedForUse11"/>-->
                        <!--<xsd:enumeration value="reservedForUse12"/>-->
                        <!--<xsd:enumeration value="reservedForUse13"/>-->
                        <!--<xsd:enumeration value="reservedForUse14"/>-->
                        <!--<xsd:enumeration value="reservedForUse15"/>-->
                        <!--<xsd:enumeration value="reservedForUse16"/>-->
                        <!--<xsd:enumeration value="reservedForUse17"/>-->
                        <!--<xsd:enumeration value="reservedForUse18"/>-->
                        <!--<xsd:enumeration value="reservedForUse19"/>-->
                        <!--<xsd:enumeration value="reservedForUse20"/>-->
                        <!--<xsd:enumeration value="reservedForUse21"/>-->
                    <!--</xsd:restriction>-->
                <!--</xsd:simpleType>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="licensePlateNumber" type="xsd:hexBinary"/>-->
        <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->

    <xsd:complexType name="AlphabetIndicator">
        <xsd:choice>
            <xsd:element name="latinAlphabetNo1" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo2" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo3" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo4" type="xsd:string"/>
            <xsd:element name="latinCyrillicAlphabet" type="xsd:string"/>
            <xsd:element name="latinArabicAlphabet" type="xsd:string"/>
            <xsd:element name="latinGreekAlphabet" type="xsd:string"/>
            <xsd:element name="latinHebrewAlphabet" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo5" type="xsd:string"/>
            <xsd:element name="latinAlphabetNo6" type="xsd:string"/>
            <xsd:element name="twoOctetBMP" type="xsd:string"/>
            <xsd:element name="fourOctetCanonical" type="xsd:string"/>
            <xsd:element name="reservedForUse1" type="xsd:string"/>
            <xsd:element name="reservedForUse2" type="xsd:string"/>
            <xsd:element name="reservedForUse3" type="xsd:string"/>
            <xsd:element name="reservedForUse4" type="xsd:string"/>
            <xsd:element name="reservedForUse5" type="xsd:string"/>
            <xsd:element name="reservedForUse6" type="xsd:string"/>
            <xsd:element name="reservedForUse7" type="xsd:string"/>
            <xsd:element name="reservedForUse8" type="xsd:string"/>
            <xsd:element name="reservedForUse9" type="xsd:string"/>
            <xsd:element name="reservedForUse10" type="xsd:string"/>
            <xsd:element name="reservedForUse11" type="xsd:string"/>
            <xsd:element name="reservedForUse12" type="xsd:string"/>
            <xsd:element name="reservedForUse13" type="xsd:string"/>
            <xsd:element name="reservedForUse14" type="xsd:string"/>
            <xsd:element name="reservedForUse15" type="xsd:string"/>
            <xsd:element name="reservedForUse16" type="xsd:string"/>
            <xsd:element name="reservedForUse17" type="xsd:string"/>
            <xsd:element name="reservedForUse18" type="xsd:string"/>
            <xsd:element name="reservedForUse19" type="xsd:string"/>
            <xsd:element name="reservedForUse20" type="xsd:string"/>
            <xsd:element name="reservedForUse21" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="LPN">
        <xsd:sequence>
            <xsd:element name="countryCode" type="AVIAEINumberingAndDataStructures:CountryCode"/>
            <xsd:element name="alphabetIndicator" type="AlphabetIndicator"/>
            <xsd:element name="licensePlateNumber" type="LPNLimited"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="LPNLimited">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ContractVehicle">
        <xsd:complexContent>
            <xsd:extension base="LPN"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="ContractAuthenticator">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:complexType name="TimeCompact">
        <xsd:sequence>
            <xsd:element name="hours">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="23"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mins">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="double-secs">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DateAndTime">
        <xsd:sequence>
            <xsd:element name="timeDate" type="DateCompact"/>
            <xsd:element name="timeCompact" type="TimeCompact"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--<xsd:complexType name="DateAndTime">-->
    <!--<xsd:sequence>-->
    <!--<xsd:element name="timeDate" type="DateCompact"/>-->
    <!--<xsd:element name="timeCompact">-->
    <!--<xsd:complexType>-->
    <!--<xsd:sequence>-->
    <!--<xsd:element name="hours">-->
    <!--<xsd:simpleType>-->
    <!--<xsd:restriction base="xsd:unsignedByte">-->
    <!--<xsd:minInclusive value="0"/>-->
    <!--<xsd:maxInclusive value="23"/>-->
    <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->
    <!--</xsd:element>-->
    <!--<xsd:element name="mins">-->
    <!--<xsd:simpleType>-->
    <!--<xsd:restriction base="xsd:unsignedByte">-->
    <!--<xsd:minInclusive value="0"/>-->
    <!--<xsd:maxInclusive value="59"/>-->
    <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->
    <!--</xsd:element>-->
    <!--<xsd:element name="double-secs">-->
    <!--<xsd:simpleType>-->
    <!--<xsd:restriction base="xsd:unsignedByte">-->
    <!--<xsd:minInclusive value="0"/>-->
    <!--<xsd:maxInclusive value="30"/>-->
    <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->
    <!--</xsd:element>-->
    <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->
    <!--</xsd:element>-->
    <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->

    <xsd:simpleType name="StationType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="unspecified"/>
            <xsd:enumeration value="closedEntryWithPayment"/>
            <xsd:enumeration value="closedEntryWithoutPayment"/>
            <xsd:enumeration value="closedTransit"/>
            <xsd:enumeration value="closedExit"/>
            <xsd:enumeration value="closedCredit"/>
            <xsd:enumeration value="mixed"/>
            <xsd:enumeration value="passage"/>
            <xsd:enumeration value="checkpoint"/>
            <xsd:enumeration value="reload"/>
            <xsd:enumeration value="reservedForFutureCENUse1"/>
            <xsd:enumeration value="reservedForFutureCENUse2"/>
            <xsd:enumeration value="reservedForFutureCENUse3"/>
            <xsd:enumeration value="reservedForFutureCENUse4"/>
            <xsd:enumeration value="privateUse5"/>
            <xsd:enumeration value="privateUse6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ResultOp">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="correctTransaction"/>
                    <xsd:enumeration value="obeStatusNotAccepted"/>
                    <xsd:enumeration value="equipmentStatusNotAccepted"/>
                    <xsd:enumeration value="contractNotInWhiteList"/>
                    <xsd:enumeration value="contractIdentifierInBlackList"/>
                    <xsd:enumeration value="contractIdentifierNotCorrect"/>
                    <xsd:enumeration value="expiredContract"/>
                    <xsd:enumeration value="contractRestrictionsNotFulfilled"/>
                    <xsd:enumeration value="claimedVehicleCharacteristicsNotValid"/>
                    <xsd:enumeration value="vehicleClassAuthenticationFailed"/>
                    <xsd:enumeration value="entryVehicleClassDifferentFromExitVehicleClass"/>
                    <xsd:enumeration value="entryReceiptMissing"/>
                    <xsd:enumeration value="entryReceiptNotValid"/>
                    <xsd:enumeration value="entryTollStationNotValid"/>
                    <xsd:enumeration value="equipmentNotCertified"/>
                    <xsd:enumeration value="timeDifference"/>
                    <xsd:enumeration value="accessCredentialsNotAccepted"/>
                    <xsd:enumeration value="contractAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="receiptAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="claimedVehicleCharacteristicsMissing"/>
                    <xsd:enumeration value="paymentMeansNotAccepted"/>
                    <xsd:enumeration value="paymentAuthenticatorNotAccepted"/>
                    <xsd:enumeration value="paymentMeansInBlackList"/>
                    <xsd:enumeration value="paymentMeansNotCorrect"/>
                    <xsd:enumeration value="expiredPaymentMeans"/>
                    <xsd:enumeration value="paymentMeansRestrictionsNotFulfilled"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="ReceiptServicePart">
        <xsd:sequence>
            <xsd:element name="sessionTime" type="DateAndTime"/>
            <xsd:element name="sessionServiceProvider" type="Provider"/>
            <xsd:element name="stationLocation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1048575"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sessionLocation">
                <xsd:simpleType>
                    <xsd:restriction base="asn1:BitString">
                        <xsd:length value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="typeOfSession" type="StationType"/>
            <xsd:element name="sessionResultOperational" type="ResultOp"/>
            <xsd:element name="sessionResultFinancial" type="ResultFin"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Int1">
        <xsd:restriction base="xsd:unsignedByte"/>
    </xsd:simpleType>

    <xsd:complexType name="SessionClass">
        <xsd:sequence>
            <xsd:element name="sessionTariffClass" type="Int1"/>
            <xsd:element name="sessionClaimedClass" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Int3">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="16777215"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReceiptServiceSerialNumber">
        <xsd:restriction base="Int3"/>
    </xsd:simpleType>

    <xsd:complexType name="ReceiptContract">
        <xsd:sequence>
            <xsd:element name="sessionContractProvider" type="Provider"/>
            <xsd:element name="sessionTypeOfContract">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sessionContractSerialNumber" type="Int4"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ReceiptOBUId">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="ICC-Id">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="ReceiptICC-Id">
        <xsd:restriction base="ICC-Id"/>
    </xsd:simpleType>

    <xsd:simpleType name="ReceiptText">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="ReceiptAuthenticator">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="ReceiptDistance">
        <xsd:restriction base="Int3"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleClass">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:complexType name="VehicleDimensions">
        <xsd:sequence>
            <xsd:element name="vehicleLengthOverall" type="Int1"/>
            <xsd:element name="vehicleHeigthOverall" type="Int1"/>
            <xsd:element name="vehicleWidthOverall" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="TrailerAxles">
        <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="7"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TractorAxles">
        <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="7"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="VehicleAxles">
        <xsd:sequence>
            <xsd:element name="vehicleFirstAxleHeight" type="Int1"/>
            <xsd:element name="vehicleAxlesNumber">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tyreType">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:enumeration value="notSpecified"/>
                                    <xsd:enumeration value="singleTyre"/>
                                    <xsd:enumeration value="dualTyres"/>
                                    <xsd:enumeration value="reservedForUse"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="numberOfAxles">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="trailerAxles" type="TrailerAxles"/>
                                    <xsd:element name="tractorAxles" type="TractorAxles"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleWeightLimits">
        <xsd:sequence>
            <xsd:element name="vehicleMaxLadenWeight" type="Int2"/>
            <xsd:element name="vehicleTrainMaximumWeight" type="Int2"/>
            <xsd:element name="vehicleWeightUnladen" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="VehicleWeightLaden">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <!--<xsd:simpleType name="EuroValue">-->
        <!--<xsd:restriction base="xsd:token">-->
            <!--<xsd:enumeration value="noEntry"/>-->
            <!--<xsd:enumeration value="euro-1"/>-->
            <!--<xsd:enumeration value="euro-2"/>-->
            <!--<xsd:enumeration value="euro-3"/>-->
            <!--<xsd:enumeration value="euro-4"/>-->
            <!--<xsd:enumeration value="euro-5"/>-->
            <!--<xsd:enumeration value="euro-6"/>-->
            <!--<xsd:enumeration value="reservedForUse1"/>-->
            <!--<xsd:enumeration value="reservedForUse2"/>-->
            <!--<xsd:enumeration value="reservedForUse3"/>-->
            <!--<xsd:enumeration value="reservedForUse4"/>-->
            <!--<xsd:enumeration value="reservedForUse5"/>-->
            <!--<xsd:enumeration value="reservedForUse6"/>-->
            <!--<xsd:enumeration value="reservedForUse7"/>-->
            <!--<xsd:enumeration value="reservedForUse8"/>-->
            <!--<xsd:enumeration value="reservedForUse9"/>-->
        <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->

    <xsd:complexType name="EuroValue">
        <xsd:choice>
            <xsd:element name="noEntry" type="xsd:string"/>
            <xsd:element name="euro-1" type="xsd:string"/>
            <xsd:element name="euro-2" type="xsd:string"/>
            <xsd:element name="euro-3" type="xsd:string"/>
            <xsd:element name="euro-4" type="xsd:string"/>
            <xsd:element name="euro-5" type="xsd:string"/>
            <xsd:element name="euro-6" type="xsd:string"/>
            <xsd:element name="reservedForUse1" type="xsd:string"/>
            <xsd:element name="reservedForUse2" type="xsd:string"/>
            <xsd:element name="reservedForUse3" type="xsd:string"/>
            <xsd:element name="reservedForUse4" type="xsd:string"/>
            <xsd:element name="reservedForUse5" type="xsd:string"/>
            <xsd:element name="reservedForUse6" type="xsd:string"/>
            <xsd:element name="reservedForUse7" type="xsd:string"/>
            <xsd:element name="reservedForUse8" type="xsd:string"/>
            <xsd:element name="reservedForUse9" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <!--<xsd:simpleType name="CopValue">-->
        <!--<xsd:restriction base="xsd:token">-->
            <!--<xsd:enumeration value="noEntry"/>-->
            <!--<xsd:enumeration value="co2class1"/>-->
            <!--<xsd:enumeration value="co2class2"/>-->
            <!--<xsd:enumeration value="co2class3"/>-->
            <!--<xsd:enumeration value="co2class4"/>-->
            <!--<xsd:enumeration value="co2class5"/>-->
            <!--<xsd:enumeration value="co2class6"/>-->
            <!--<xsd:enumeration value="co2class7"/>-->
            <!--<xsd:enumeration value="reservedforUse"/>-->
        <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->

    <xsd:complexType name="CopValue">
        <xsd:choice>
            <xsd:element name="noEntry" type="xsd:string"/>
            <xsd:element name="co2class1" type="xsd:string"/>
            <xsd:element name="co2class2" type="xsd:string"/>
            <xsd:element name="co2class3" type="xsd:string"/>
            <xsd:element name="co2class4" type="xsd:string"/>
            <xsd:element name="co2class5" type="xsd:string"/>
            <xsd:element name="co2class6" type="xsd:string"/>
            <xsd:element name="co2class7" type="xsd:string"/>
            <xsd:element name="reservedforUse" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="EnvironmentalCharacteristics">
        <xsd:sequence>
            <xsd:element name="euroValue" type="EuroValue"/>
            <xsd:element name="copValue" type="CopValue"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="EngineCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="noEngine"/>
                    <xsd:enumeration value="petrolUnleaded"/>
                    <xsd:enumeration value="petrolLeaded"/>
                    <xsd:enumeration value="diesel"/>
                    <xsd:enumeration value="lPG"/>
                    <xsd:enumeration value="battery"/>
                    <xsd:enumeration value="solar"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>


    <xsd:simpleType name="DescriptiveCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="vehicleShape1"/>
                    <xsd:enumeration value="vehicleShape2"/>
                    <xsd:enumeration value="vehicleShape3"/>
                    <xsd:enumeration value="vehicleShape4"/>
                    <xsd:enumeration value="vehicleShape5"/>
                    <xsd:enumeration value="vehicleShape6"/>
                    <xsd:enumeration value="vehicleShape7"/>
                    <xsd:enumeration value="vehicleShape8"/>
                    <xsd:enumeration value="vehicleShape9"/>
                    <xsd:enumeration value="vehicleShape10"/>
                    <xsd:enumeration value="vehicleShape11"/>
                    <xsd:enumeration value="vehicleShape12"/>
                    <xsd:enumeration value="vehicleShape13"/>
                    <xsd:enumeration value="vehicleShape14"/>
                    <xsd:enumeration value="vehicleShape15"/>
                    <xsd:enumeration value="vehicleShape16"/>
                    <xsd:enumeration value="vehicleShape17"/>
                    <xsd:enumeration value="vehicleShape18"/>
                    <xsd:enumeration value="vehicleShape19"/>
                    <xsd:enumeration value="vehicleShape20"/>
                    <xsd:enumeration value="vehicleShape21"/>
                    <xsd:enumeration value="vehicleShape22"/>
                    <xsd:enumeration value="vehicleShape23"/>
                    <xsd:enumeration value="vehicleShape24"/>
                    <xsd:enumeration value="vehicleShape25"/>
                    <xsd:enumeration value="vehicleShape26"/>
                    <xsd:enumeration value="vehicleShape27"/>
                    <xsd:enumeration value="vehicleShape28"/>
                    <xsd:enumeration value="vehicleShape29"/>
                    <xsd:enumeration value="vehicleShape30"/>
                    <xsd:enumeration value="vehicleShape31"/>
                    <xsd:enumeration value="vehicleShape32"/>
                    <xsd:enumeration value="vehicleShape33"/>
                    <xsd:enumeration value="vehicleShape34"/>
                    <xsd:enumeration value="vehicleShape35"/>
                    <xsd:enumeration value="vehicleShape36"/>
                    <xsd:enumeration value="vehicleShape37"/>
                    <xsd:enumeration value="vehicleShape38"/>
                    <xsd:enumeration value="vehicleShape39"/>
                    <xsd:enumeration value="vehicleShape40"/>
                    <xsd:enumeration value="vehicleShape41"/>
                    <xsd:enumeration value="vehicleShape42"/>
                    <xsd:enumeration value="vehicleShape43"/>
                    <xsd:enumeration value="vehicleShape44"/>
                    <xsd:enumeration value="vehicleShape45"/>
                    <xsd:enumeration value="vehicleShape46"/>
                    <xsd:enumeration value="vehicleShape47"/>
                    <xsd:enumeration value="vehicleShape48"/>
                    <xsd:enumeration value="vehicleShape49"/>
                    <xsd:enumeration value="vehicleShape50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="FutureCharacteristics">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="noEntry"/>
                    <xsd:enumeration value="airSuspension"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="VehicleSpecificCharacteristics">
        <xsd:sequence>
            <xsd:element name="environmentalCharacteristics" type="EnvironmentalCharacteristics"/>
            <!-- TODO values of engineCharacteristics have to be limited -->
            <!-- <xsd:element name="engineCharacteristics" type="EngineCharacteristics"/> -->
            <xsd:element name="engineCharacteristics" type="xsd:string"/>
            <xsd:element name="descriptiveCharacteristics" type="DescriptiveCharacteristics"/>
            <xsd:element name="futureCharacteristics" type="FutureCharacteristics"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="VehicleAuthenticator">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="EquipmentOBUId">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EquipmentStatus">
        <xsd:restriction base="asn1:BitString">
            <xsd:length value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DriverCharacteristics">
        <xsd:sequence>
            <xsd:element name="driverClass" type="Int1"/>
            <xsd:element name="tripPurpose" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SignedValue">
        <xsd:choice>
            <xsd:element name="positive">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="8388607"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="negative">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="-8388608"/>
                        <xsd:maxInclusive value="-1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="PaymentMeansBalance">
        <xsd:complexContent>
            <xsd:extension base="SignedValue"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="PaymentMeansUnit">
        <xsd:restriction base="PayUnit"/>
    </xsd:simpleType>

    <xsd:simpleType name="PaymentSecurityData">
        <xsd:restriction base="xsd:hexBinary"/>
    </xsd:simpleType>

    <xsd:simpleType name="PersonalAccountNumber">
        <xsd:restriction base="xsd:hexBinary">
            <xsd:length value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PaymentMeans">
        <xsd:sequence>
            <xsd:element name="personalAccountNumber" type="PersonalAccountNumber"/>
            <xsd:element name="paymentMeansExpiryDate" type="DateCompact"/>
            <xsd:element name="pamentMeansUsageControl">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SessionLocation">
        <xsd:sequence>
            <xsd:element name="ascendingKilometrage" type="xsd:boolean"/>
            <xsd:element name="laneCodeNumber">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedByte">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiptData">
        <xsd:sequence>
            <xsd:element name="sessionTime" type="DateAndTime"/>
            <xsd:element name="sessionServiceProvider" type="Provider"/>
            <xsd:element name="locationOfStation" type="Int2"/>
            <xsd:element name="sessionLocation" type="SessionLocation"/>
            <xsd:element name="sessionType" type="Int1"/>
            <xsd:element name="sessionResult" type="ResultOp"/>
            <xsd:element name="sessionTariffClass" type="Int1"/>
            <xsd:element name="sessionClaimedClass" type="Int1"/>
            <xsd:element name="sessionFee" type="PaymentFee"/>
            <xsd:element name="sessionContractProvider" type="Provider"/>
            <xsd:element name="sessionTypeOfContract">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sessionContextVersion">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="127"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="receiptDataAuthenticator">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiptData1">
        <xsd:complexContent>
            <xsd:extension base="ReceiptData"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ReceiptData2">
        <xsd:complexContent>
            <xsd:extension base="ReceiptData"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ValidityOfContract">
        <xsd:sequence>
            <xsd:element name="issuerRestrictions">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="contractExpiryDate" type="DateCompact"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PurseBalance">
        <xsd:sequence>
            <xsd:element name="purseValue" type="SignedValue"/>
            <xsd:element name="purseUnit" type="PayUnit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiptFinancialPart">
        <xsd:sequence>
            <xsd:element name="personalAccountNumber" type="PersonalAccountNumber"/>
            <xsd:element name="sessionPaymentFee" type="PaymentFee"/>
            <xsd:element name="sessionCurrentBalance" type="PurseBalance"/>
            <xsd:element name="receiptFinancialSerialNumber" type="Int4"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="SetMMIRq">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="nok"/>
                    <xsd:enumeration value="contactOperator"/>
                    <xsd:enumeration value="noSignalling"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="AxleWeightLimits">
        <xsd:sequence>
            <xsd:element name="maxLadenweightOnAxle1" type="Int2"/>
            <xsd:element name="maxLadenweightOnAxle2" type="Int2"/>
            <xsd:element name="maxLadenweightOnAxle3" type="Int2"/>
            <xsd:element name="maxLadenweightOnAxle4" type="Int2"/>
            <xsd:element name="maxLadenweightOnAxle5" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PassengerCapacity">
        <xsd:sequence>
            <xsd:element name="numberOfSeats" type="Int1"/>
            <xsd:element name="numberOfStandingPlaces" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Engine">
        <xsd:sequence>
            <xsd:element name="engineCapacity" type="Int2"/>
            <xsd:element name="enginePower" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SoundLevel">
        <xsd:sequence>
            <xsd:element name="soundstationary" type="Int1"/>
            <xsd:element name="sounddriveby" type="Int1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="UnitType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="mg-km"/>
            <xsd:enumeration value="mg-kWh"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ExhaustEmissionValues">
        <xsd:sequence>
            <xsd:element name="unitType" type="UnitType"/>
            <xsd:element name="emissionCO">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="32767"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="emissionHC" type="Int2"/>
            <xsd:element name="emissionNOX" type="Int2"/>
            <xsd:element name="emissionHCNOX" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DieselEmissionValues">
        <xsd:sequence>
            <xsd:element name="particulate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="unitType" type="UnitType"/>
                        <xsd:element name="value">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:unsignedShort">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="32767"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="absorptionCoeff" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="CO2EmissionValue">
        <xsd:restriction base="Int2"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleTotalDistance">
        <xsd:restriction base="Int4"/>
    </xsd:simpleType>

    <xsd:complexType name="TrailerLicencePlateNumber">
        <xsd:complexContent>
            <xsd:extension base="LPN"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TrailerDetails">
        <xsd:sequence>
            <xsd:element name="trailerType">
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="notPresent"/>
                                <xsd:enumeration value="trailer"/>
                                <xsd:enumeration value="semitrailer"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:unsignedByte">
                                <xsd:minInclusive value="0"/>
                                <xsd:maxInclusive value="31"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="trailerAxles" type="TrailerAxles"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TrailerCharacteristics">
        <xsd:sequence>
            <xsd:element name="trailerDetails" type="TrailerDetails"/>
            <xsd:element name="trailerMaxLadenWeight" type="Int2"/>
            <xsd:element name="trailerWeightUnladen" type="Int2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ActualNumberOfPassengers">
        <xsd:restriction base="Int1"/>
    </xsd:simpleType>

    <xsd:complexType name="VehicleLicencePlateNumber">
        <xsd:complexContent>
            <xsd:extension base="LPN"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="VehicleIdentificationNumber">
        <xsd:restriction base="AVIAEINumberingAndDataStructures:CS5"/>
    </xsd:simpleType>

</xsd:schema>