src/main/resources/xsdFiles/RoamingModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.8.4, Date: 25-Nov-2015. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tsystems.com/gw/ws/iso/RoamingModule"
            targetNamespace="http://tsystems.com/gw/ws/iso/RoamingModule"
            xmlns:EfcModule="http://tsystems.com/gw/ws/iso/EfcModule"
            xmlns:ChargingModule="http://tsystems.com/gw/ws/iso/ChargingModule"
            xmlns:ContextDataModule="http://tsystems.com/gw/ws/iso/ContextDataModule"
            xmlns:CccModule="http://tsystems.com/gw/ws/iso/CccModule"
            elementFormDefault="qualified">
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/EfcModule"
                schemaLocation="EfcModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/ChargingModule"
                schemaLocation="ChargingModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/ContextDataModule"
                schemaLocation="ContextDataModule.xsd"/>
    <xsd:import namespace="http://tsystems.com/gw/ws/iso/CccModule"
                schemaLocation="CccModule.xsd"/>
    <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
                schemaLocation="asn1.xsd"/>

    <xsd:simpleType name="INT2">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>

    <xsd:complexType name="EntityId">
        <xsd:complexContent>
            <xsd:extension base="EfcModule:Provider"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BoundingPolygon">
        <xsd:sequence>
            <xsd:element name="latitude" type="CccModule:Latitude"/>
            <xsd:element name="longitude" type="CccModule:Longitude"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="INT1">
        <xsd:restriction base="xsd:unsignedByte"/>
    </xsd:simpleType>

    <xsd:simpleType name="VehicleGroup">
        <xsd:restriction base="INT1"/>
    </xsd:simpleType>

    <xsd:complexType name="RelevantEfcContext">
        <xsd:sequence>
            <xsd:element name="efcContextId" type="EntityId"/>
            <xsd:element name="reuseTariffInformationFrom" minOccurs="0" type="EntityId"/>
            <xsd:element name="reuseReportingRulesFrom" minOccurs="0" type="EntityId"/>
            <xsd:element name="efcDomainFrame" minOccurs="0" type="BoundingPolygon"/>
            <xsd:element name="liableVehicleClasses">
                <xsd:simpleType>
                    <xsd:list itemType="VehicleGroup"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="precedenceLevel" minOccurs="0" type="INT1"/>
            <xsd:element name="sendChargeReportIfEntering" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="EntityId" type="EntityId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CombinedChargeReportContext">
        <xsd:sequence>
            <xsd:element name="reportingClusterId" type="EntityId"/>
            <xsd:element name="tollRecipient" type="EntityId"/>
            <xsd:element name="involvedEfcContexts">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="EntityId" type="EntityId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoamingRules">
        <xsd:sequence>
            <xsd:element name="efcRoamingRulesId" type="INT2"/>
            <xsd:element name="relevantEfcContexs">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="RelevantEfcContext" type="RelevantEfcContext"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="combinedChargeReportContexts" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="CombinedChargeReportContext" type="CombinedChargeReportContext"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="roamingRulesVersion" type="ContextDataModule:VersionAndValidity"/>
            <xsd:element name="authenticator" type="ChargingModule:MessageAuthenticator"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>